extends ../../_core/layouts/layouts-default

append vars
    -bodyClass= "page-general-template"
    
block container
    section.ven-general
        .container
            .row.justify-content-center
                .col-lg-10.col-xl-6
                    .ven-general-header
                        h1 General template title
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .ven-general-body
                        h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        p
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                            | dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

                        p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        p
                            | You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions.
                            | If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.
                        h2 Bullet list example
                        ul
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        h3 Contrary to popular belief, Lorem Ipsum is not simply random text.
                        p Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.
                        h2 Number list example
                        ol
                            li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
