.ven-general {
    margin: 50px 0;

    @include breakpoint-up(lg) {
        margin: 100px 0;
    }
}

.ven-general-header {
    font-size: 16px;
    margin-bottom: 60px;

    h1 {
        @extend .ven-heading-primary;
    }
}

.ven-general-body {
    * + h2,
    * + h3 {
        margin-top: 60px;
    }

    ol {
        padding-left: 1.6em;
        list-style-position: outside;

        li {
            margin-bottom: 22px;
        }
    }

    ul {
        @include reset-list;

        li {
            padding-left: 18px;
            position: relative;
            margin-bottom: 1.4em;
            margin-bottom: 22px;

            &::before {
                content: "";
                display: block;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: currentColor;
                position: absolute;
                top: (6/14 + em);
                left: 0;
            }
        }
    }
}
