// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Breakpoint
$breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Typography
$font-family-primary: Arial, Helvetica, sans-serif !default;
$font-family-secondary: Georgia, Times, "Times New Roman", serif !default;

// Colors
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$black: #000000;
$blue: #007bff !default;
$red: #dc3545 !default;

$primary: $gray-900 !default;
$secondary: $gray-600 !default;
$danger: #ff4242 !default;
$body-color: $black !default;
$link-color: $black !default;

// Forms
$input-font-size: 16px !default;
$input-color: $body-color !default;
$input-placeholder-color: $gray-300 !default;
$input-height: 36px !default;
$input-border-radius: 0 !default;
$input-border-color: $gray-400 !default;
$input-border-color-focus: $gray-600 !default;
$input-border-width: thin !default;
$input-padding-y: 4px !default;
$input-padding-x: 16px !default;
$textarea-height: 120px !default;

$label-font-size: inherit !default;
$label-color: $body-color !default;
$label-spacing: 12px !default;

$form-row-spacing: 20px !default;
$form-col-spacing: 20px !default;

$custom-control-size: 14px !default;
$custom-control-dot-size: 8px !default;
$custom-control-border-radius: 0 !default;
$custom-control-gap: 10px !default;
$custom-control-font-size: 14px !default;
$custom-control-font-weight: normal !default;
$custom-control-line-height: 1.4 !default;
$custom-control-border-color: $body-color !default;
$custom-control-border-color-active: $body-color !default;
$custom-control-top: ceil(($custom-control-font-size * $custom-control-line-height - $custom-control-size) / 3) !default;

$select-option-padding-y: 8px !default;
$select-option-padding-x: 16px !default;
$select-option-font-size: 14px !default;
$select-option-background-color: $gray-100 !default;
$select-option-background-color-hover: $gray-400 !default;
$select-arrow-width: 11px !default;
$select-arrow-spacing: 16px !default;
$select-arrow-icon: "data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5.5L10 1' stroke='black'/%3E%3C/svg%3E%0A" !default;

$validate-message-color: $danger !default;
$validate-message-font-size: 10px !default;
$validate-message-spacing: 6px !default;

$custom-switcher-slider-width: 50px !default;
$custom-switcher-slider-height: 16px !default;
$custom-switcher-slider-color: $gray-400 !default;
$custom-switcher-slider-color-checked: $gray-500 !default;
$custom-switcher-slider-cursor-size: 22px !default;
$custom-switcher-slider-cursor-color: #424242 !default;
$custom-switcher-slider-cursor-color-checked: $red !default;
$custom-switcher-slider-label-font-size: 8px !default;
$custom-switcher-slider-label-color: rgba($color: #000000, $alpha: 0.5) !default;
$custom-switcher-slider-label-spacing: 2px !default;
$custom-switcher-slider-gap: ($custom-switcher-slider-cursor-size - $custom-switcher-slider-height)/2 !default;
$custom-switcher-label-font-size: 14px !default;
$custom-switcher-label-gap: 10px !default;

// Form float label
$form-float: false !default;
$form-float-label-font-size: 8px !default;
$form-float-input-padding-top: 14px !default;
