.ven-checkout-steps__item
    .ven-checkout-steps__header
        h2.ven-checkout-steps__title Customer
        .ven-checkout-steps__edit
            button.ec-btn.ec-btn-edit.checkout-edit-step-trigger(type="button") Edit
    .ven-checkout-steps__body
        .ven-checkout-steps__data
            p ken@ven.com.au
        .ven-checkout-steps__form
            .ven-checkout-login.ven-checkout-login--guest.is-active(id="checkout-login-guest")
                +v-input("email", "login-guest-email-address", "Email address", "Email address")
                .ven-form-group
                    button.ec-btn.ec-btn-primary Continue as guest
                .ven-checkout-login__information Already have an account? #[a.checkout-login-target(href="#checkout-login-account") Log in here]
            .ven-checkout-login.ven-checkout-login--account(id="checkout-login-account")
                +v-input("email", "login-account-email-address", "Email address", "Email address")
                +v-input("password", "login-account-password", "Password", "Password")
                .ven-checkout-login__lost
                    a(href="#") Forgotten your password?
                .ven-form-group
                    button.ec-btn.ec-btn-primary Login
                .ven-checkout-login__information
                    .row
                        .col-lg
                            | Don’t have an account? #[a(href="#") Create one]
                        .col-lg-auto
                            a.checkout-login-target(href="#checkout-login-guest")
                                span Continue as Guest