.ven-checkout-login {
    &:not(.is-active) {
        display: none;
    }

    .ec-btn {
        width: 100%;
    }

    &__lost {
        margin-bottom: 35px;
        text-align: right;
    }

    &__information {
        .row {
            > div:last-child {
                margin-top: 16px;

                @include breakpoint-up(lg) {
                    margin-top: 0;
                }
            }
        }
    }

    &--guest {
        .ven-checkout-login__information {
            text-align: center;
        }
    }
}
