.ven-checkout-steps__item
    .ven-checkout-steps__header
        h2.ven-checkout-steps__title Payment
        .ven-checkout-steps__edit
            button.ec-btn.ec-btn-edit.checkout-edit-step-trigger(type="button") Edit
    .ven-checkout-steps__body
        .ven-checkout-steps__data
            .ven-checkout-payment-alert
                .ven-checkout-payment-alert__inner Your payment and personal details are encrypted and secure.
            .ven-checkout-payment-card-number
                span.card-number-image.Visa
                span.card-number-hidden &bull;&bull;&bull;&bull;
                span.card-number-hidden &bull;&bull;&bull;&bull;
                span.card-number-hidden &bull;&bull;&bull;&bull;
                span.card-number-show 1234
            h6 Billing address
            p
                | Ken Nguyen
                br
                | Ven Creative
                br
                | Level 2 UL40/1341 Dandenong Road, Chadstone VIC 3148
                br
                | 03 9133 3266
        .ven-checkout-steps__form
            #payment
                ul.ven-checkout-payment.woocommerce-checkout-payment.wc_payment_methods.payment_methods.methods
                    li.ven-checkout-payment__item.payment_method_paypal
                        input(type="radio" name="checkout-payment" id="checkout-payment-paypal" checked)
                        label(for="checkout-payment-paypal")
                            .ven-checkout-payment__header
                                .ven-checkout-payment__title Paypal
                                .ven-checkout-payment__brand
                                    img(src="https://www.paypalobjects.com/webstatic/en_AU/mktg/logo/Solutions-graphics-1-184x80.jpg", alt="")
                                    a.about_paypal(href="#") What is PayPal?
                    li.ven-checkout-payment__item.payment_method_stripe
                        input(type="radio" name="checkout-payment" id="checkout-payment-credit-card")
                        label(for="checkout-payment-credit-card")
                            .ven-checkout-payment__header
                                .ven-checkout-payment__title Credit card
                                .ven-checkout-payment__brand
                                    img.stripe-icon(src="./images/woocommerce/american-express.svg", alt="")
                                    img.stripe-icon(src="./images/woocommerce/visa.svg", alt="")
                                    img.stripe-icon(src="./images/woocommerce/master-card.svg", alt="")
                            .ven-checkout-payment__body
                                .ven-checkout-payment-form
                                    .payment_box.payment_method_stripe
                                        #stripe-payment-data
                                            p
                                                | Pay with your credit card via Stripe. TEST MODE ENABLED. In test mode, you can use the card number 4242424242424242 
                                                | with any CVC and a valid expiration date or check the 
                                                a(href="#") Testing Stripe documentation
                                                |  for more card numbers.
                                            ul.woocommerce-SavedPaymentMethods.wc-saved-payment-methods
                                                li.woocommerce-SavedPaymentMethods-token
                                                    input#wc-stripe-payment-token-1(type="radio" name="wc-stripe-payment-token")
                                                    label(for="wc-stripe-payment-token-1") Visa ending in 4242 (expires 04/24)
                                                li.woocommerce-SavedPaymentMethods-new
                                                    input#wc-stripe-payment-token-new(type="radio" name="wc-stripe-payment-token")
                                                    label(for="wc-stripe-payment-token-new") Use a new payment method
                                            fieldset#wc-stripe-cc-form.wc-credit-card-form.wc-payment-form
                                                .form-row.form-row-wide
                                                    label(for="stripe-card-element") Card Number #[span.required *]
                                                    .stripe-card-group
                                                        .wc-stripe-elements-field
                                                .form-row.form-row-first
                                                    label(for="stripe-card-element") Expiry Date #[span.required *]
                                                    .stripe-card-group
                                                        .wc-stripe-elements-field
                                                .form-row.form-row-last
                                                    label(for="stripe-cvc-element") Card Code (CVC)  #[span.required *]
                                                    .stripe-card-group
                                                        .wc-stripe-elements-field
                                                .clear
                                            p.form-row.woocommerce-SavedPaymentMethods-saveNew.woocommerce-validated
                                                input#wc-stripe-new-payment-method(type="checkbox")
                                                label(for="wc-stripe-new-payment-method") Save payment information to my account for future purchases.
            .ven-checkout-billing
                .ven-checkout-billing__header
                    h6 Billing address
                    +v-checkbox("checkout-billing-address", "Same as Shipping Address", true)
                .ven-checkout-billing__body
                    .ven-form-row
                        +v-input("text", "billing-first-name", "First name", "First name", "First name is required")(class="ven-form-group--half")
                        +v-input("text", "billing-last-name", "Last name", "Last name")(class="ven-form-group--half")
                        +v-input("email", "billing-email", "Email address", "Email address")(class="ven-form-group--half")
                        +v-select("Country")(class="ven-form-group--half")
                        +v-select("Street address")
        .ven-checkout-steps__next
            button.ec-btn.ec-btn-primary.checkout-next-step-trigger(type="button") Continue