.ven-checkout-payment-alert {
    background-color: rgba(119, 188, 31, 0.1);
    padding: 20px 25px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &::before {
        content: "";
        width: 14px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' viewBox='0 0 14 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7723 7.59092C12.5601 7.37878 12.3026 7.27279 11.9995 7.27279H11.636V5.09085C11.636 3.69693 11.1362 2.50007 10.1361 1.50007C9.13617 0.500022 7.93942 0 6.54531 0C5.15123 0 3.95425 0.500022 2.95436 1.50003C1.95432 2.50007 1.45446 3.69689 1.45446 5.09085V7.27279H1.09087C0.787944 7.27279 0.530311 7.37878 0.318171 7.59092C0.10603 7.8029 0 8.06054 0 8.36374V14.9091C0 15.2121 0.10607 15.4698 0.318171 15.6819C0.530311 15.8939 0.787944 16 1.09087 16H11.9997C12.3029 16 12.5603 15.894 12.7726 15.6819C12.9845 15.4698 13.0907 15.2121 13.0907 14.9091V8.36362C13.0909 8.06066 12.9845 7.80306 12.7723 7.59092ZM9.45434 7.27279H3.63628V5.09085C3.63628 4.28786 3.92042 3.60221 4.48858 3.03412C5.05682 2.46596 5.74236 2.18194 6.54543 2.18194C7.34858 2.18194 8.03395 2.46592 8.60223 3.03412C9.17024 3.60217 9.45434 4.28786 9.45434 5.09085V7.27279Z' fill='%2377BC1F'/%3E%3C/svg%3E%0A");
        background-size: 100% 100%;
        margin-right: 24px;
    }
}

.ven-checkout-payment-card-number {
    display: flex;
    align-items: center;
    line-height: 1;
    color: #a8a8a8;
    margin-bottom: 20px;

    .card-number-image {
        display: inline-block;
        width: 34px;
        height: 20px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        &.Visa {
            background-image: url(../images/woocommerce/visa.svg);
        }

        &.MasterCard {
            background-image: url(../images/woocommerce/master-card.svg);
        }

        &.American.Express {
            background-image: url(../images/woocommerce/american-express.svg);
        }

        &.paypal {
            width: 82px;
            background-image: url(../images/woocommerce/paypal.svg);
        }
    }

    .card-number-hidden {
        font-size: 20px;
        letter-spacing: -0.08em;
        margin-right: 8px;
    }
}

.ven-checkout-payment {
    @include reset-list;

    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        > label {
            display: block;
            border: thin solid $gray-200;
            overflow: hidden;
        }

        > input {
            display: none;

            &:checked + label {
                border-color: $gray-300;

                .ven-checkout-payment__title {
                    &::before {
                        transform: scale(1);
                    }
                }

                .ven-checkout-payment__body {
                    display: block;
                }
            }
        }

        &.payment_method_paypal {
            .ven-checkout-payment__brand {
                img,
                .about_paypal {
                    display: none;
                }

                &::before {
                    content: "";
                    display: inline-block;
                    vertical-align: middle;
                    width: 82px;
                    height: 20px;
                    background: url(../images/woocommerce/paypal.svg) no-repeat;
                    background-size: 100% 100%;
                }
            }

            .ven-checkout-payment__body {
                display: none !important;
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 30px 25px;
    }

    &__body {
        padding: 20px 15px 35px;
        display: none;

        @include breakpoint-up(lg) {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    &__title {
        flex: 1;
        @extend %ec-heading-primary;
        font-size: 16px;
        font-weight: 500;
        padding-left: 36px;
        position: relative;

        &::before {
            @extend %checkout-checked-symbol;
            position: absolute;
            top: 5px;
            left: 0;
        }
    }
}

.wc-saved-payment-methods {
    @include reset-list;

    > li {
        margin-bottom: 20px;

        label {
            display: block !important;
            width: 100%;
            margin-bottom: 0;
            padding: 25px 25px 25px 50px;
            border: thin solid $gray-200;
            position: relative;

            &::before {
                @extend %checkout-checked-symbol;
                position: absolute;
                top: 50%;
                left: 20px;
                margin-top: -6px;
            }
        }

        input {
            display: none;

            &:checked + label {
                border-color: $gray-300;

                &::before {
                    transform: scale(1);
                }
            }
        }
    }
}

.wc-credit-card-form {
    .clear {
        clear: both;
    }

    .form-row {
        margin-bottom: 20px;

        label {
            margin-bottom: 10px;
        }

        @extend %woo-form-row;
    }

    .wc-stripe-elements-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 56px;
        padding: 0 20px;
        border: thin solid $gray-200;
        margin: 0;

        &.focused {
            border-color: #9d9d9d;
        }

        &.invalid {
            border-color: $red;
        }
    }
}

.woocommerce-SavedPaymentMethods-saveNew {
    @extend %form-custom-control;
}

// checkout billing
.ven-checkout-billing {
    margin-top: 40px;

    &__header {
        margin-bottom: 20px;
    }
}
