.ven-checkout-steps__item
    .ven-checkout-steps__header
        h2.ven-checkout-steps__title Review &amp;  place order
    .ven-checkout-steps__body
        .ven-checkout-placeorder
            .ven-checkout-placeorder__header Please review the order details above, and when you're ready, click Place Order.
            .ven-checkout-placeorder__body
                .ven-form-group
                    +v-checkbox("checkout-review-checkbox-1", "I would like to subscribe to be part of VEN and be first to hear about any limited releases and promotions")
                .ven-form-group
                    .ven-custom-control
                        input(type="checkbox", id="checkout-review-checkbox-2")
                        label(for="checkout-review-checkbox-2") I have read and agreed to the #[a(href="#" target="_blank") terms and conditions]
                //- .ven-checkout-terms-box
                    .ven-checkout-terms-box__inner
                        each val in [1, 2]
                            h4 Disclaimer
                            p
                                | Did you love riding around on a manual scooter when you were a kid, but as an adult now you’re eager to try out the best electric scooter?
                                | Considering these scooters are now more affordable than ever, it’s the perfect time to try one out.
                            h5 Getting started
                            p
                                | While easy to use, just like a bicycle, riding one can take some getting used to. 
                                | You don’t want to drop your new heavy scooter your first day on the street.
                            p

                                | First off, if you’re a beginner, or it has been years since you’ve been on one, you need to find a safe place to practice. 
                                | The practice space should be large and ideally a place where there’s little to no traffic. Parking lots and back roads are both great choices.
        .ven-checkout-steps__next
            button.ec-btn.ec-btn-primary#checkout-order-trigger(type="button") Continue