.ven-checkout-placeorder {
    &__header {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

.ven-checkout-terms-box {
    background-color: $gray-200;
    max-height: 395px;
    margin-top: 33px;
    margin-bottom: 15px;
    font-size: 13px;

    &.scrollbar-macosx {
        > .scroll-element.scroll-y {
            .scroll-bar {
                width: 3px;
            }
        }
    }

    &__inner {
        padding: 30px;
    }

    h4,
    h5 {
        margin-bottom: 14px;
    }

    h4 {
        font-size: 18px;
    }

    h5 {
        font-size: 14px;
    }

    p {
        & + h4,
        & + h5 {
            margin-top: 35px;
        }
    }
}
