.ven-checkout-steps__item
    .ven-checkout-steps__header
        h2.ven-checkout-steps__title Shipping details
        .ven-checkout-steps__edit
            button.ec-btn.ec-btn-edit.checkout-edit-step-trigger(type="button") Edit
    .ven-checkout-steps__body
        .ven-checkout-steps__data
            .row
                .col-lg
                    h6 Shipping address
                    p
                        | Ken Nguyen
                        br
                        | Ven Creative
                        br
                        | Level 2 UL40/1341 Dandenong Road, Chadstone VIC 3148
                        br
                        | 03 9133 3266
                .col-lg
                    h6 Shipping address
                    p Standard Shipping (3-5 Business Days) AU$6.00
        .ven-checkout-steps__form
            .ven-checkout-shipping
                .ven-form-row
                    +v-input("text", "shipping-first-name", "First name", "First name", "First name is required")(class="ven-form-group--half")
                    +v-input("text", "shipping-last-name", "Last name", "Last name")(class="ven-form-group--half")
                    +v-input("email", "shipping-email", "Email address", "Email address")(class="ven-form-group--half")
                    +v-select("Country")(class="ven-form-group--half")
                    +v-select("Street address")
                .ven-form-group.ven-checkout-shipping-information Can’t find your address? #[a(href="#") Click here to enter it in manually.]
                .ven-form-group
                    +v-checkbox("shipping-details-create-account", "Create an account with this info")
            .ven-checkout-delivery
                .ven-checkout-delivery__header Delivery  method
                .ven-checkout-delivery__body
                    .ven-checkout-delivery-list
                        .ven-checkout-delivery-list__item
                            input(type="radio" name="checkout-delivery-method" id="checkout-delivery-method-express" checked)
                            label(for="checkout-delivery-method-express")
                                .ven-checkout-delivery-list__header
                                    .ven-checkout-delivery-list__title Express
                                    .ven-checkout-delivery-list__price $35
                                .ven-checkout-delivery-list__body
                                    .ven-checkout-delivery-list__description 3 business days
                        .ven-checkout-delivery-list__item
                            input(type="radio" name="checkout-delivery-method" id="checkout-delivery-method-standard")
                            label(for="checkout-delivery-method-standard")
                                .ven-checkout-delivery-list__header
                                    .ven-checkout-delivery-list__title Standard
                                    .ven-checkout-delivery-list__price $20
                                .ven-checkout-delivery-list__body
                                    .ven-checkout-delivery-list__description Your order will arrive in 3-5 business days
                        .ven-checkout-delivery-list__item
                            input(type="radio" name="checkout-delivery-method" id="checkout-delivery-method-free-pickup")
                            label(for="checkout-delivery-method-free-pickup")
                                .ven-checkout-delivery-list__header
                                    .ven-checkout-delivery-list__title Free Pick-up
                                    .ven-checkout-delivery-list__price
                                .ven-checkout-delivery-list__body
                                    .ven-checkout-delivery-list__description This could also be an option
        .ven-checkout-steps__next
            button.ec-btn.ec-btn-primary.checkout-next-step-trigger(type="button") Continue