.ven-checkout-shipping-information {
    margin-bottom: 40px;
}

.ven-checkout-delivery {
    &__header {
        margin-bottom: 10px;
    }
}

.ven-checkout-delivery-list {
    &__item {
        &:not(:last-child) {
            margin-bottom: 15px;
        }

        > label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 80px;
            border: thin solid $gray-200;
            padding: 15px 25px;
            margin-bottom: 0;
            cursor: pointer;
        }

        > input {
            display: none;

            &:checked + label {
                border-color: $gray-900;

                .ven-checkout-delivery-list__header {
                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-left: 36px;
        position: relative;

        &::before {
            @extend %checkout-checked-symbol;
            position: absolute;
            top: 6px;
            left: 0;
        }
    }

    &__body {
        padding-left: 36px;
        margin-top: 5px;
    }

    &__title {
        flex: 1;
        font-size: 16px;
        font-weight: 500;
    }

    &__price {
        font-size: 16px;
        font-weight: 500;
    }
}
