.ven-checkout__summary
    .ven-checkout__summary-title Order summary
    .ven-checkout__summary-total $799.00
.ven-checkout__sidebar
    .ven-checkout-detail
        .ven-checkout-detail__header
            .ven-checkout-detail__title Order details
            .ven-checkout-detail__button
                a.ec-btn.ec-btn-edit(href="#") Edit cart
        .ven-checkout-detail__body
            .ven-cart-box
                +cart-product-list
                +cart-coupon
                +cart-summary
                +cart-total
                +cart-recurring
        .ven-checkout-detail__footer
            .ven-checkout-secure
                img(src="./images/woocommerce/secure.png" alt="")