.ven-checkout-success {
    padding: $ec-page-padding-y 0;

    @include breakpoint-up(lg) {
        padding: $ec-page-padding-y-lg 0;
    }

    &__header {
        margin-bottom: 20px;
        text-align: center;
    }

    &__title {
        @extend %ec-heading-primary;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__description {
        font-size: 14px;
    }
}

.ven-checkout-success-information {
    background-color: $gray-200;
    padding: 25px 0;
    margin-bottom: 50px;

    table {
        width: 100%;
        font-size: 14px;
        line-height: 1;

        @include breakpoint-up(lg) {
            font-size: 16px;
        }

        th,
        td {
            padding: 0;

            &:not(:last-child) {
                padding-right: 15px;
            }
        }

        thead {
            th {
                letter-spacing: normal;
                font-size: 10px;
                padding-bottom: 12px;

                @include breakpoint-up(lg) {
                    font-size: 12px;
                }
            }
        }
    }
}

.ven-checkout-success-order-details {
    margin-bottom: 60px;

    &__title {
        margin-bottom: 20px;
    }
}

// woocommerce addresses
.woocommerce-customer-details {
    @extend .ec-container;
	
	address {
        margin-bottom: 0;
    }

    .woocommerce-columns {
        @extend %woo-addresses;
    }

    .woocommerce-column {
        @extend %woo-address;

        &__title {
            @extend %woo-address-title;
        }
    }
}
