$checkout-sidebar-width: 570px !default;
$checkout-sidebar-padding-x: 60px !default;
$checkout-content-wrapper: 570px !default;

// checkout image card
.stripe-icon {
    height: 21px;

    & + .stripe-icon {
        margin-left: 1px;
    }
}

// checkout layout
.ven-checkout {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-up(lg) {
        flex-direction: row-reverse;
    }

    &__summary {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: $gray-200;
        padding: 24px $ec-container-padding-x;
        letter-spacing: 0.025em;

        @include breakpoint-up(lg) {
            display: none;
        }

        &-title {
            font-size: 14px;
            flex: 1;
            margin-right: 20px;

            &::after {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 11px;
                height: 7px;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5.5 5.5L10 1' stroke='black'/%3E%3C/svg%3E%0A");
                background-size: 100% 100%;
                position: relative;
                top: -2px;
                margin-left: 10px;
            }
        }

        &-total {
            font-size: 16px;
            font-weight: 500;
        }

        &.is-active {
            .ven-checkout__summary-title {
                &::after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__sidebar {
        display: none;
        width: 100%;
        background-color: $gray-200;
        border-top: thin solid $gray-200;

        @include breakpoint-up(lg) {
            width: 45%;
            display: block !important;
            border-top: none;
        }

        @include breakpoint-up(xl) {
            width: $checkout-sidebar-width;
        }

        .ec-container {
            max-width: 100%;

            @include breakpoint-up(xl) {
                padding: 0 $checkout-sidebar-padding-x;
            }
        }
    }

    &__content {
        width: 100%;
        padding: $ec-page-padding-y 0;

        @include breakpoint-up(lg) {
            width: 55%;
        }

        @include breakpoint-up(xl) {
            flex: 1;
            padding: $ec-page-padding-y-lg 0;
        }
    }

    &__wrapper {
        padding: 0 $ec-container-padding-x;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint-up(xl) {
            max-width: ($checkout-content-wrapper + $ec-container-padding-x * 2);
        }
    }
}

.ven-checkout-detail {
    padding: $ec-page-padding-y 0;

    @include breakpoint-up(xl) {
        padding: $ec-page-padding-y-lg 0;
    }

    .ec-btn-edit {
        margin-right: -8px;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 $ec-container-padding-x;
        margin-bottom: 20px;

        @include breakpoint-up(xl) {
            padding: 0 $checkout-sidebar-padding-x;
        }
    }

    &__title {
        flex: 1;
        margin-right: 20px;
    }

    &__footer {
        padding: 0 $ec-container-padding-x;
        margin-top: 80px;

        @include breakpoint-up(xl) {
            padding: 0 $checkout-sidebar-padding-x;
        }
    }
}

.ven-checkout-secure {
    img {
        height: 50px;
    }
}

// checkout steps
.ven-checkout-steps {
    font-size: 14px;

    h2,
    h3,
    h4,
    h5 {
        @extend %ec-heading-primary;
    }

    h6 {
        font-size: inherit;
        margin-bottom: 10px;
    }

    .ec-btn-edit {
        margin-top: -8px;
        margin-right: -8px;
    }

    &__item {
        opacity: 0.5;

        &:not(:last-child) {
            border-bottom: thin solid $gray-200;
            padding-bottom: 45px;
            margin-bottom: 45px;
        }

        &:first-child,
        &.is-current {
            opacity: 1;

            .ven-checkout-steps__body {
                display: block;
            }
        }

        &.is-checked:not(.is-current) {
            opacity: 1;
            
            .ven-checkout-steps__next {
                display: none;
            }

            .ven-checkout-steps__edit {
                display: block;
            }

            .ven-checkout-steps__title {
                padding-left: 30px;

                @include breakpoint-up(xl) {
                    padding-left: 0;
                }

                &::before {
                    transform: scale(1);
                }
            }
        }
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        font-size: 22px;
        margin-bottom: 0;
        flex: 1;
        position: relative;
        transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

        &:before {
            @extend %checkout-checked-symbol;
            margin-right: 10px;
            position: absolute;
            top: 7px;
            left: 0;

            @include breakpoint-up(xl) {
                left: auto;
                right: 100%;
                margin-right: 15px;
            }
        }
    }

    &__edit {
        display: none;
    }

    &__body {
        display: none;
        margin-top: 23px;

        @include breakpoint-up(lg) {
            margin-top: 32px;
        }
    }

    &__data {
        display: none;
    }

    &__next {
        margin-top: 40px;

        .ec-btn {
            display: block;
            width: 100%;
        }
    }

    .ven-form-group {
        .woocommerce-input-wrapper {
            strong {
                display: block;
                width: 100%;
                height: 56px;
                background-color: transparent;
                border-radius: 5px;
                border-style: solid;
                border-color: $gray-400;
                border-width: thin;
                font-family: inherit;
                font-size: 16px;
                font-weight: normal;
                line-height: inherit;
                color: $gray-900;
                outline: none;
                padding: 20px 16px 0;
            }
        }
    }
}

