extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "woocommerce-page woocommerce-checkout"

block container
    .woocommerce
        .ven-checkout-success
            .ven-checkout-success__header
                .ec-container
                    h2.ven-checkout-success__title Payment success
                    p.ven-checkout-success__subtitle Thank you for shopping with us!
                    p.ven-checkout-success__description An order confirmation and shipping email will be sent to you shortly.
            .ven-checkout-success__body
                .ven-checkout-success-information
                    .ec-container
                        table
                            thead
                                tr
                                    each val in ["Order", "Date", "Total", "Payment"]
                                        th= val
                            tbody
                                tr
                                    each val in ["#42", "July 31, 2020", "$1618", "Credit Card"]
                                        td= val
                .ven-checkout-success-order-details
                    .ven-checkout-success-order-details__header
                        .ec-container
                            h3.ven-checkout-success-order-details__title Order details
                    .ven-checkout-success-order-details__body
                        .ven-cart-box
                            +cart-product-list
                            +cart-summary
                            +cart-total
                include ../MyAccount/_customer-detail
                     
