extends ../../../_core/layouts/layouts-default

block scripts_demo
    script.
        $('.ven-checkout-login--guest .ec-btn').on('click', function() {
            var currentStep = $(this).closest('.ven-checkout-steps__item'),
                currentForm = currentStep.find('.ven-checkout-steps__form'),
                currentData = currentStep.find('.ven-checkout-steps__data');
            currentStep.addClass('is-checked');
            $('.ven-checkout-steps__item.is-checked').last().next().find('.ven-checkout-steps__body').slideDown(300);
            currentForm.slideUp(300);
            currentData.slideDown(300);
            $('.ven-checkout-steps__item').removeClass('is-current');
            $('.ven-checkout-steps__item.is-checked').last().next().addClass('is-current');
        });

block container
    .woocommerce
        .ven-checkout
            include _sidebar
            .ven-checkout__content
                .ven-checkout__wrapper
                    .ven-checkout-steps
                        // Customer
                        include _customer
                        // Shipping details
                        include _shipping
                        // Payment
                        include _payment
                        // Place order
                        include _placeorder
        