.ven-fordev
    input#ven-fordev-toggler(type="checkbox")
    .ven-fordev__inner
        label.ven-fordev__header(for="ven-fordev-toggler")
            img(src="./images/ven.png" alt="Ven")
        .ven-fordev__body
            .ven-fordev__title
                .ven-custom-control
                    input(type="checkbox" id="enable-admin-bar")
                    label(for="enable-admin-bar") Admin bar
            .ven-fordev__content
                -
                    devNav = [
                        {
                            "name": "Style Guide",
                            "url": "./styleguide.html"
                        },
                        {
                            "name": "General",
                            "url": "./general.html"
                        },
                        {
                            "name": "404",
                            "url": "./404.html"
                        },
                        {
                            "name": "Home",
                            "url": "./index.html"
                        },
                        {
                            "name": "Login",
                            "url": "./login.html"
                        },
                        {
                            "name": "Sign up",
                            "url": "./sign-up.html"
                        },
                        {
                            "name": "Reset password",
                            "url": "./reset-password.html"
                        },
                        {
                            "name": "Cart",
                            "url": "./cart.html"
                        },
                        {
                            "name": "Checkout",
                            "url": "./checkout.html"
                        },
                        {
                            "name": "Checkout success",
                            "url": "./checkout-success.html"
                        },
                        {
                            "name": "My account",
                            "url": "./my-account.html"
                        }
                    ]
                ul.ven-fordev-list
                    each val in devNav
                        li
                            a(href= val["url"])= val["name"]