extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "woocommerce-account woocommerce-page"

block container
    .woocommerce
        section.ven-user-form-section.ven-user-form-section--login
            .ven-user-form-section__container
                form(action="#")
                    .ven-user-form
                        .ven-user-form__header
                            h2.ven-user-form__title Welcome to Ven
                        .ven-user-form__body
                            +v-input("email", "signup-email", "Email address", "Email address")
                            +v-input("password", "signup-password", "Your password", "Your password")
                            .ven-form-group
                                button.ec-btn.ec-btn-primary Login
                                button.ec-btn.ec-btn-secondary Continue as guest
                        .ven-user-form__footer
                            .ven-user-form__information
                                p
                                    a(href="#") Forgotten your password?
                                p
                                    a(href="./sign-up.html") Don't have an account? #[strong Create one]
