extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "woocommerce-account woocommerce-page woocommerce-lost-password"

block container
    .woocommerce
        section.ven-user-form-section.ven-user-form-section--reset-password
            .ven-user-form-section__container
                form(action="#")
                    .ven-user-form
                        .ven-user-form__header
                            h2.ven-user-form__title Forgotten password?
                            .ven-user-form__description
                                | Please enter your email address. 
                                br
                                | You will receive a link to create a new password via email.
                        .ven-user-form__body
                            +v-input("email", "reset-password-email", "Email address", "Email address")
                            .ven-form-group
                                button.ec-btn.ec-btn-primary Submit
                                a.ec-btn.ec-btn-secondary(href="./login.html") Back to login
                            
