extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "woocommerce-page woocommerce-account"

block container
    .woocommerce
        section.ven-user-form-section.ven-user-form-section--sign-up
            .ven-user-form-section__container
                form(action="#")
                    .ven-user-form
                        .ven-user-form__header
                            h2.ven-user-form__title Create account
                            .ven-user-form__description Create an account with your email
                        .ven-user-form__body
                            +v-input("text", "login-email", "Email address", "Email address", "Please input required field")
                            +v-input("password", "login-password", "Password", "Password")
                            +v-input("password", "login-confirm-password", "Confirm password", "Confirm password")
                            .ven-form-group
                                button.ec-btn.ec-btn-primary Sign up
                        .ven-user-form__footer
                            .ven-user-form__information
                                a(href="./login.html") Already have account? Login here
