.ven-user-form-section {
    padding: $ec-page-padding-y $ec-container-padding-x;
    position: relative;

    @include breakpoint-up(lg) {
        padding-top: $ec-page-padding-y-lg;
        padding-bottom: $ec-page-padding-y-lg;
    }
}

.ven-user-form {
	@include breakpoint-up(md) {
        max-width: 400px;
		margin-left: auto;
		margin-right: auto;
    }

    .ec-btn {
        display: block;
        width: 100%;
    }

    &__header {
        text-align: center;
        margin-bottom: 30px;
    }

    &__title {
        @extend %ec-heading-primary;
    }

    &__description {
        color: $gray-500;
    }

    &__information {
        text-align: center;

        >  p {
            margin-bottom: 10px;

            strong {
                font-weight: normal;
                text-transform: uppercase;
            }
        }
    }
}