/*---------------------------------
**** Objects | Buttons
-----------------------------------*/
.ven-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: thin solid transparent;
    padding: 8px 16px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
    text-decoration: none;
    font-size: 16px;
    color: white;
	cursor: pointer;

    &:hover {
        text-decoration: none;
        color: white;
    }
}

%btn-disabled {
    &:disabled,
    &.disabled {
        background-color: $gray-400;

        &:hover {
            background-color: $gray-400;
        }
    }
}

%btn-link-disabled {
    &:disabled,
    &.disabled {
        color: $gray-400;

        &:hover {
            color: $gray-400;
        }
    }
}

.ven-btn-block {
    display: block;
    width: 100%;
}

.ven-btn-link {
    color: $link-color;
	border: none;

    &:hover {
        color: $link-color;
    }

    @extend %btn-link-disabled;
}

.ven-btn-primary {
    background-color: $primary;

    &:hover {
        background-color: $primary;
    }

    @extend %btn-disabled;
}

.ven-btn-outline-primary {
    border-color: $primary;
    color: $primary;

    &:hover {
        background-color: $primary;
    }

    @extend %btn-disabled;
}