// Common
%form-group {
    margin-bottom: $form-row-spacing;
    position: relative;
}

%form-label {
    font-size: $label-font-size;
    vertical-align: middle;

    @if ($form-float == false) {
        color: $label-color;
        margin-bottom: $label-spacing;
    } @else {
        position: absolute;
        top: ceil(($input-height - $input-font-size)/2);
        left: 0;
        z-index: 1;
        width: 100%;
        line-height: 1;
        color: $input-placeholder-color;
        padding: 0 $input-padding-x;
        margin-bottom: 0;
        pointer-events: none;
        transition: all 0.2s ease;

        &.freeze,
        .has-select & {
            top: ceil(($input-height - $input-font-size)/4);
            font-size: $form-float-label-font-size;
            color: $form-float-label-color-active;
        }
    }
}

%form-control {
    display: block;
    width: 100%;
    height: $input-height;
    background-color: transparent;
    border-radius: $input-border-radius;
    border-style: solid;
    border-color: $input-border-color;
    border-width: $input-border-width;
    color: $input-color;
    appearance: none;
    @include reset-autofill;

    @include breakpoint-up(lg) {
        font-size: $input-font-size;
    }

    &:focus {
        border-color: $input-border-color-focus;
    }

    @if ($form-float == false) {
        padding: $input-padding-y $input-padding-x;

        &::placeholder {
            color: $input-placeholder-color;
        }
    } @else {
        padding: $form-float-input-padding-top $input-padding-x 0;

        &::placeholder {
            color: transparent;
        }
    }

    &:disabled {
        border-color: rgba($color: $input-border-color, $alpha: 0.5);
    }
}

%form-textarea {
    @if ($form-float == false) {
        padding: $input-padding-x;
    } @else {
        padding: ceil(($input-height - $input-font-size * 0.5) / 2) $input-padding-x $input-padding-x;

        &::placeholder {
            color: transparent;
        }
    }
}

%form-custom-control {
    display: block;
    padding-left: $custom-control-size + $custom-control-gap;
    position: relative;
    line-height: 1;

    label {
        font-size: $custom-control-font-size;
        font-weight: $custom-control-font-weight;
        line-height: $custom-control-line-height;
        vertical-align: middle;
        margin-bottom: 0;
        cursor: pointer;
        user-select: none;

        &::before {
            content: "";
            display: block;
            width: $custom-control-size;
            height: $custom-control-size;
            position: absolute;
            top: $custom-control-top;
            left: 0;
            border: thin solid $custom-control-border-color;
            border-radius: $custom-control-border-radius;
        }

        &::after {
            content: "";
            display: block;
            width: $custom-control-size;
            height: $custom-control-size;
            position: absolute;
            top: $custom-control-top;
            left: 0;
            opacity: 0;
        }
    }

    input {
        display: none;

        &:checked {
            & + label {
                &::after {
                    opacity: 1;
                }
            }
        }

        &[type="checkbox"] {
            & + label {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 3.5L3.77551 6.33333L9 1' stroke='%2333322B' stroke-width='2'/%3E%3C/svg%3E%0A");
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 10px auto;
                }
            }
        }

        &[type="radio"] {
            & + label {
                &::before,
                &::after {
                    border-radius: 50%;
                }

                &::after {
                    width: $custom-control-dot-size;
                    height: $custom-control-dot-size;
                    background-color: $custom-control-border-color-active;
                    top: ($custom-control-size - $custom-control-dot-size) / 2 + $custom-control-top;
                    left: ($custom-control-size - $custom-control-dot-size) / 2;
                }
            }
        }
    }
}

%form-validate-message {
    display: block;
    font-size: $validate-message-font-size;
    color: $validate-message-color;
    margin-top: $validate-message-spacing;
}

// Gravity form
.gform_wrapper {
    .validation_error {
        display: none;
    }
}

.gform_fields {
    @include reset-list;
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-$form-col-spacing/2);

    .validation_message {
        @extend %form-validate-message;
    }
}

.gfield {
    @extend %form-group;
    width: calc(100% - #{$form-col-spacing});
    margin-left: ($form-col-spacing/2);
    margin-right: ($form-col-spacing/2);

    &.medium {
        @include breakpoint-up(md) {
            width: calc(50% - #{$form-col-spacing});
        }
    }

    &.hidden_label {
        .gfield_label {
            display: none;
        }
    }
}

.gfield_label {
    @extend %form-label;
}

.ginput_container {
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
    select:not([multiple="multiple"]) {
        @extend %form-control;

        .gfield_error & {
            border-color: $validate-message-color !important;
        }
    }

    textarea {
        @extend %form-control;
        @extend %form-textarea;
        height: $textarea-height;

        .gfield_error & {
            border-color: $validate-message-color !important;
        }
    }
}

// Button
.gform_button {
    @extend .ven-btn;
    @extend .ven-btn-primary;
}

// Ven form
.ven-form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ven-form-group {
    @extend %form-group;
    width: 100%;

    @include breakpoint-up(lg) {
        &--half {
            width: calc(50% - #{$form-col-spacing / 2});
        }
    }
}

.ven-form-label {
    @extend %form-label;

    .optional {
        display: none;
    }

    .required {
        text-decoration: none;
    }
}

.ven-form-control {
    @extend %form-control;

    .ven-form-group--error & {
        border-color: $validate-message-color !important;
    }
}

textarea.ven-form-control {
    @extend %form-textarea;
    height: auto;
}

.ven-custom-control {
    @extend %form-custom-control;
}

.invalid-message {
    @extend %form-validate-message;
}

// Select box
.select2-container--default {
    .select2-selection--single {
        @extend %form-control;
        padding: 0;
        border-bottom-left-radius: $input-border-radius !important;
        border-bottom-right-radius: $input-border-radius !important;

        .select2-selection {
            &__rendered {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                line-height: 1;
                padding-left: $input-padding-x;
                padding-right: $input-padding-x * 2;
                color: $input-color;

                @if ($form-float) {
                    padding-top: $form-float-input-padding-top;
                }
            }

            &__arrow {
                width: $select-arrow-width;
                height: 100%;
                top: 0;
                right: $select-arrow-spacing;

                b {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url($select-arrow-icon);
                    background-repeat: no-repeat;
                    background-size: 100% auto;
                    background-position: 50% 50%;
                    border: none;
                    margin: 0;
                }
            }
        }
    }

    .select2-search--dropdown {
        .select2-search {
            &__field {
                outline: none;
                border-color: $input-placeholder-color;
                border-radius: $input-border-radius;
            }
        }
    }

    .select2-results {
        &__option {
            font-size: $select-option-font-size;
            padding: $select-option-padding-y $select-option-padding-x;

            &--highlighted {
                &.select2-results__option--selectable {
                    background-color: $select-option-background-color-hover;
                }
            }

            &--selected {
                background-color: $select-option-background-color;
            }
        }
    }
}

.select2-dropdown {
    background-color: $select-option-background-color;
    border: $input-border-width solid $input-border-color !important;
    border-radius: $input-border-radius !important;
    overflow: hidden;

    &--below {
        .select2-container--open & {
            margin-top: 2px;
        }
    }

    &--above {
        .select2-container--open & {
            margin-top: -2px;
        }
    }
}

// Checkbox and Radio
.gfield_checkbox,
.gfield_radio {
    @include reset-list;

    li {
        margin-bottom: 1rem;
        @extend %form-custom-control;
    }
}

// Switcher
.ven-custom-switcher {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 0;
    @if $custom-switcher-slider-gap > 0 {
        padding: #{($custom-switcher-slider-cursor-size - $custom-switcher-slider-height)/2} 0;
    }
    cursor: pointer;
    user-select: none;

    > input {
        display: none;

        &:checked {
            & + .ven-custom-switcher__slider {
                background-color: $custom-switcher-slider-color-checked;
                padding-left: 0;
                @if $custom-switcher-slider-gap > 0 {
                    padding-right: $custom-switcher-slider-cursor-size + $custom-switcher-slider-label-spacing;
                }
                @else {
                    padding-right: $custom-switcher-slider-cursor-size + $custom-switcher-slider-label-spacing + abs($custom-switcher-slider-gap);
                }
                justify-content: flex-end;

                &::before {
                    @if $custom-switcher-slider-gap > 0 {
                        left: $custom-switcher-slider-width - $custom-switcher-slider-cursor-size;
                    }
                    @else {
                        left: $custom-switcher-slider-width - $custom-switcher-slider-cursor-size + $custom-switcher-slider-gap;
                    }
                    background-color: $custom-switcher-slider-cursor-color-checked;
                }

                &::after {
                    content: "on";
                }
            }
        }
    }

    &__slider {
        display: flex;
        align-items: center;
        width: $custom-switcher-slider-width;
        height: $custom-switcher-slider-height;
        @if $custom-switcher-slider-gap > 0 {
            padding-left: $custom-switcher-slider-cursor-size + $custom-switcher-slider-label-spacing;
        }
        @else {
            padding-left: $custom-switcher-slider-cursor-size + $custom-switcher-slider-label-spacing + abs($custom-switcher-slider-gap);
        }
        border-radius: $custom-switcher-slider-height;
        background-color: $custom-switcher-slider-color;
        position: relative;
        transition: all 0.2s ease;

        &::before {
            content: "";
            display: block;
            width: $custom-switcher-slider-cursor-size;
            height: $custom-switcher-slider-cursor-size;
            border-radius: 50%;
            background-color: $custom-switcher-slider-cursor-color;
            box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.25);
            position: absolute;
            top: calc(50% - #{$custom-switcher-slider-cursor-size/2});
            @if $custom-switcher-slider-gap > 0 {
                left: 0;
            }
            @else {
                left: abs($custom-switcher-slider-gap);
            }
            transition: left 0.2s ease;
        }

        &::after {
            content: "off";
            font-size: $custom-switcher-slider-label-font-size;
            line-height: 1;
            text-transform: uppercase;
            color: $custom-switcher-slider-label-color;
        }
    }

    &__label {
        margin-left: $custom-switcher-label-gap;
        font-size: $custom-switcher-label-font-size;
        line-height: (18/14);
    }
}
