section.woocommerce-customer-details
    section.woocommerce-columns.woocommerce-columns--2.woocommerce-columns--addresses.col2-set.addresses
        .woocommerce-column.woocommerce-column--1.woocommerce-column--billing-address.col-1
            h2.woocommerce-column__title Billing address
            address
                | Ven Test
                br
                | Ven Creative LTD PTY
                br
                | Tran phu
                br
                | Tran phu
                br
                | Vietnam
                p.woocommerce-customer-details--phone +841111111111
                p.woocommerce-customer-details--email ben@ven.com.au
        .woocommerce-column.woocommerce-column--2.woocommerce-column--shipping-address.col-2
            h2.woocommerce-column__title Shipping address
            address
                | Ven Test
                br
                | Ven Creative LTD PTY
                br
                | Tran phu
                br
                | Tran phu
                br
                | Vietnam