nav.woocommerce-MyAccount-navigation
    ul
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--orders.is-active
            a(href='./my-account.html') Orders
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--subscriptions
            a(href='./my-account-subscriptions.html') Subscriptions
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-address
            a(href='./my-account-address.html') Addresses
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--edit-account
            a(href='./my-account-account.html') Account Details
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--refer-a-friend
            a(href='./my-account-refer-friends.html') Refer friends
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--gift-cards
            a(href='./my-account-giftcards.html') Gift cards
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--points-and-rewards
            a(href='./my-account-points.html') My points
        li.woocommerce-MyAccount-navigation-link.woocommerce-MyAccount-navigation-link--customer-logout
            a(href='#') Sign out