table.woocommerce-orders-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table
    thead
        tr
            th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-number
                span.nobr Order
            th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-date
                span.nobr Date
            th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-status
                span.nobr Status
            th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-total
                span.nobr Total
            th.woocommerce-orders-table__header.woocommerce-orders-table__header-order-actions
                span.nobr  
    tbody
        each val in [1, 2, 3, 4]
            tr.woocommerce-orders-table__row.woocommerce-orders-table__row--status-processing.order
                td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-number(data-title='Order')
                    a(href='#')
                        | #235
                td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-date(data-title='Date')
                    time(datetime='2020-08-20T12:01:56+00:00') August 20, 2020
                td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-status(data-title='Status')
                    | Processing
                td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-total(data-title='Total')
                    span.woocommerce-Price-amount.amount
                        span.woocommerce-Price-currencySymbol $
                        | 819.00
                    |  for 1 item
                td.woocommerce-orders-table__cell.woocommerce-orders-table__cell-order-actions(data-title=' ')
                    a.woocommerce-button.button.pay(href='#') Pay
                    a.woocommerce-button.button.view(href='#') View
                    a.woocommerce-button.button.cancel(href='#') Cancel