.woocommerce-pagination.woocommerce-pagination--without-numbers.woocommerce-Pagination
    a.woocommerce-button.woocommerce-button--previous.woocommerce-Button.woocommerce-Button--previous.button(href='#') Previous
    a.woocommerce-button.woocommerce-button--next.woocommerce-Button.woocommerce-Button--next.button(href='#') Next