.ven-refer-friends {
    @extend .ec-container;

    .referral-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .referral-description {
        text-align: center;
        margin-bottom: 40px;
    }

    .aw-referrals-share-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;

        a.btn {
            display: block;
            width: 100%;
            padding: 12px;
            margin-bottom: 24px;
            font-size: 12px;
            font-weight: normal;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: white;
            text-decoration: none;
            text-align: center;

            @include breakpoint-up(lg) {
                width: calc(50% - 12px);
            }

            &:before {
                vertical-align: -2px;
                top: 0;
            }
        }
    }

    .aw-referrals-share-or {
        display: none;
    }

    .aw-email-referral-form {
        .woocommerce-Input {
            @extend %form-control;
        }

        .email-button {
            margin-top: 30px;
        }

        .woocommerce-Button {
            @extend .ec-btn;
            @extend .ec-btn-primary;
            display: block;
            width: 100%;
        }
    }
}
