.woocommerce-Addresses {
    @extend %woo-addresses;
}

.woocommerce-Address {
    @extend %woo-address;

    header {
        h3 {
            @extend %woo-address-title;
        }
    }

    footer {
        margin-top: 30px;
        
        a {
            @extend .ec-btn;
            @extend .ec-btn-primary;
            padding-top: 13px;
            padding-bottom: 13px;
        }
    }
}

.woocommerce-edit-address {
    .woocommerce-MyAccount-content {
        max-width: 570px;

        >  p {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 60px;
        }

        .woocommerce-info {
            display: none;
        }
    }
}