extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    .ven-account-points
                        h2 My Points
                        p.point-text You have 2217 Points
                        table.shop_table.my_account_points_rewards.my_account_orders
                            thead
                                tr
                                    th.points-rewards-event-description
                                        span.nobr Event
                                    th.points-rewards-event-date
                                        span.nobr Date
                                    th.points-rewards-event-points
                                        span.nobr Points
                            tbody
                                tr.points-event
                                    td.points-rewards-event-description
                                        | Points earned for purchase
                                    td.points-rewards-event-date
                                        abbr(title='2021/01/25 9:05:12 AM') 18 hours ago
                                    td.points-rewards-event-points(width='1%')
                                        | +1130
                                tr.points-event
                                    td.points-rewards-event-description
                                        | Points earned for purchase
                                    td.points-rewards-event-date
                                        abbr(title='2021/01/13 9:48:47 AM') 13 January 2021
                                    td.points-rewards-event-points(width='1%')
                                        | +180
                                tr.points-event
                                    td.points-rewards-event-description
                                        | Points earned for purchase
                                    td.points-rewards-event-date
                                        abbr(title='2021/01/12 4:29:27 AM') 12 January 2021
                                    td.points-rewards-event-points(width='1%')
                                        | +130
                                tr.points-event
                                    td.points-rewards-event-description
                                        | Points earned for purchase
                                    td.points-rewards-event-date
                                        abbr(title='2021/01/11 6:53:40 AM') 11 January 2021
                                    td.points-rewards-event-points(width='1%')
                                        | +200
                                tr.points-event
                                    td.points-rewards-event-description
                                        | Points earned for purchase
                                    td.points-rewards-event-date
                                        abbr(title='2021/01/11 4:18:19 AM') 11 January 2021
                                    td.points-rewards-event-points(width='1%')
                                        | +200
                    include _pagination  