extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-edit-account"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    form.woocommerce-EditAccountForm.edit-account(action='', method='post')
                        .ven-form-row
                            p.ven-form-group.ven-form-group--half
                                label.ven-form-label(for='account_first_name')
                                    | First name 
                                    span.required *
                                input.ven-form-control#account_first_name.woocommerce-Input.woocommerce-Input--text.input-text(type='text', name='account_first_name', autocomplete='given-name', value='Ven')
                            p.ven-form-group.ven-form-group--half
                                label.ven-form-label(for='account_last_name')
                                    | Last name 
                                    span.required *
                                input.ven-form-control#account_last_name.woocommerce-Input.woocommerce-Input--text.input-text(type='text', name='account_last_name', autocomplete='family-name', value='Test')
                            p.ven-form-group
                                label.ven-form-label(for='account_display_name')
                                    | Display name 
                                    span.required *
                                input.ven-form-control#account_display_name.woocommerce-Input.woocommerce-Input--text.input-text(type='text', name='account_display_name', value='venadmin')
                                span
                                    em
                                        | This will be how your name will be displayed in the account section and in reviews
                            p.ven-form-group
                                label.ven-form-label(for='account_email')
                                    | Email address 
                                    span.required *
                                input.ven-form-control#account_email.woocommerce-Input.woocommerce-Input--email.input-text(type='email', name='account_email', autocomplete='email', value='sites@ven.com.au')
                        fieldset
                            legend Password change
                            .ven-form-row
                                p.ven-form-group.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
                                    label.ven-form-label(for='password_current') Current password (leave blank to leave unchanged)
                                    input.ven-form-control#password_current.woocommerce-Input.woocommerce-Input--password.input-text(type='password', name='password_current', autocomplete='off')
                                p.ven-form-group.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
                                    label.ven-form-label(for='password_1') New password (leave blank to leave unchanged)
                                    input.ven-form-control#password_1.woocommerce-Input.woocommerce-Input--password.input-text(type='password', name='password_1', autocomplete='off')
                                p.ven-form-group.woocommerce-form-row.woocommerce-form-row--wide.form-row.form-row-wide
                                    label.ven-form-label(for='password_2') Confirm new password
                                    input.ven-form-control#password_2.woocommerce-Input.woocommerce-Input--password.input-text(type='password', name='password_2', autocomplete='off')
                        p
                            input#save-account-details-nonce(type='hidden', name='save-account-details-nonce', value='bb4eeee169')
                            input(type='hidden', name='_wp_http_referer', value='/my-account/edit-account/')
                            button.woocommerce-Button.button(type='submit', name='save_account_details', value='Save changes') Save changes
                            input(type='hidden', name='action', value='save_account_details')

                    
