extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-edit-address"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    p The following addresses will be used on the checkout page by default.
                    .u-columns.woocommerce-Addresses.col2-set.addresses
                        .u-column1.col-1.woocommerce-Address
                            header.woocommerce-Address-title.title
                                h3 Billing address
                            address
                                | Ven Test
                                br
                                | Ven Creative LTD PTY
                                br
                                | Tran phu
                                br
                                | Tran phu
                                br
                                | Vietnam
                            footer
                                a.edit(href='./my-account-edit-address.html') Edit
                        .u-column2.col-2.woocommerce-Address
                            header.woocommerce-Address-title.title
                                h3 Shipping address
                            address
                                | Ven Test
                                br
                                | Ven Creative LTD PTY
                                br
                                | Tran phu
                                br
                                | Tran phu
                                br
                                | Vietnam
                            footer
                                a.edit(href='./my-account-edit-address.html') Edit
