extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-giftcards"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    .ven-account-giftcards
                        h2 Your Balance
                        .woocommerce-Giftcards.woocommerce-MyAccount-Giftcards-balance-amount
                            span.woocommerce-Price-amount.amount
                                bdi
                                    span.woocommerce-Price-currencySymbol $
                                    | 1,000.00
                        form(method='POST')
                            input#_wpnonce(type='hidden' name='_wpnonce' value='215bdfad48')
                            input(type='hidden' name='_wp_http_referer' value='/my-account/giftcards/')
                            h4 Add a Gift Card?
                            .woocommerce-Giftcards.woocommerce-MyAccount-Giftcards-form
                                input(type='text' name='wc_gc_redeem_code' placeholder='Enter code…')
                                button.woocommerce-Button.button(name='wc_gc_redeem_save' value='wc_gc_redeem_save') Add to your account
                        h2 Active Gift Cards
                        table.woocommerce-orders-table.woocommerce-giftcards-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table
                            thead
                                tr
                                    th
                                        | Date
                                    th
                                        | Code
                                    th
                                        | Available Balance
                                    th
                                        | Expires
                            tbody
                                tr
                                    td(data-title='Date')
                                        | December 16, 2020
                                    td(data-title='Code')
                                        | XXXX-XXXX-XXXX-CO8K
                                    td(data-title='Available Balance')
                                        span.woocommerce-Price-amount.amount
                                            bdi
                                                span.woocommerce-Price-currencySymbol $
                                                | 500.00
                                    td(data-title='Expires')
                                        | Never
                                tr
                                    td(data-title='Date')
                                        | December 17, 2020
                                    td(data-title='Code')
                                        | XXXX-XXXX-XXXX-08WK
                                    td(data-title='Available Balance')
                                        span.woocommerce-Price-amount.amount
                                            bdi
                                                span.woocommerce-Price-currencySymbol $
                                                | 500.00
                                    td(data-title='Expires')
                                        | Never
                        h2 Activity
                        table.woocommerce-orders-table.woocommerce-giftcards-activity-table.woocommerce-MyAccount-orders.shop_table.shop_table_responsive.my_account_orders.account-orders-table
                            thead
                                tr
                                    th
                                        | Date
                                    th
                                        | Description
                                    th
                                        | Amount
                            tbody
                                tr
                                    td(data-title='Date')
                                        | December 17, 2020
                                    td(data-title='Description')
                                        | Added gift card code XXXX-XXXX-XXXX-08WK to your account
                                    td(data-title='Amount')
                                        span.woocommerce-Price-amount.amount
                                            bdi
                                                span.woocommerce-Price-currencySymbol $
                                                | 500.00
                                tr
                                    td(data-title='Date')
                                        | December 16, 2020
                                    td(data-title='Description')
                                        | Added gift card code XXXX-XXXX-XXXX-CO8K to your account
                                    td(data-title='Amount')
                                        span.woocommerce-Price-amount.amount
                                            bdi
                                                span.woocommerce-Price-currencySymbol $
                                                | 500.00
                    include _pagination
    

