extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-edit-address"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    form.ven-edit-address-form(method='post')
                        h3 Billing address
                        .woocommerce-address-fields
                            .woocommerce-address-fields__field-wrapper.ven-form-row
                                p#billing_first_name_field.form-row.ven-form-group.ven-form-group--half.validate-required(data-priority='10')
                                    label.ven-form-label(for='billing_first_name')
                                        | First name 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_first_name.input-text.ven-form-control(type='text' name='billing_first_name' placeholder='' value='Ven' autocomplete='given-name')
                                p#billing_last_name_field.form-row.ven-form-group.ven-form-group--half.validate-required(data-priority='20')
                                    label.ven-form-label(for='billing_last_name')
                                        | Last name 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_last_name.input-text.ven-form-control(type='text' name='billing_last_name' placeholder='' value='Test' autocomplete='family-name')
                                p#billing_email_field.form-row.ven-form-group.ven-form-group--half.validate-required.validate-email(data-priority='30')
                                    label.ven-form-label(for='billing_email')
                                        | Email address 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_email.input-text.ven-form-control(type='email' name='billing_email' placeholder='' value='sites@ven.com.au' autocomplete='email username')
                                p#billing_phone_field.form-row.ven-form-group.ven-form-group--half.validate-required.validate-phone(data-priority='40')
                                    label.ven-form-label(for='billing_phone')
                                        | Phone 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_phone.input-text.ven-form-control(type='tel' name='billing_phone' placeholder='' value='+841111111111' autocomplete='tel')
                                p#billing_country_field.form-row.ven-form-group.ven-form-group--half.validate-required(data-priority='50')
                                    label.ven-form-label(for='billing_country')
                                        | Country / Region 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        select#billing_country.country_to_state.country_select.ven-form-control(name='billing_country' autocomplete='country' data-placeholder='Select a country / region…')
                                            option(value='') Select a country / region…
                                            option(value='AF') Afghanistan
                                            option(value='AX') Åland Islands
                                            option(value='AL') Albania
                                            option(value='DZ') Algeria
                                            option(value='AS') American Samoa
                                            option(value='AD') Andorra
                                            option(value='AO') Angola
                                            option(value='AI') Anguilla
                                            option(value='AQ') Antarctica
                                            option(value='AG') Antigua and Barbuda
                                            option(value='AR') Argentina
                                            option(value='AM') Armenia
                                            option(value='AW') Aruba
                                            option(value='AU') Australia
                                            option(value='AT') Austria
                                            option(value='AZ') Azerbaijan
                                            option(value='BS') Bahamas
                                            option(value='BH') Bahrain
                                            option(value='BD') Bangladesh
                                            option(value='BB') Barbados
                                            option(value='BY') Belarus
                                            option(value='PW') Belau
                                            option(value='BE') Belgium
                                            option(value='BZ') Belize
                                            option(value='BJ') Benin
                                            option(value='BM') Bermuda
                                            option(value='BT') Bhutan
                                            option(value='BO') Bolivia
                                            option(value='BQ') Bonaire, Saint Eustatius and Saba
                                            option(value='BA') Bosnia and Herzegovina
                                            option(value='BW') Botswana
                                            option(value='BV') Bouvet Island
                                            option(value='BR') Brazil
                                            option(value='IO') British Indian Ocean Territory
                                            option(value='BN') Brunei
                                            option(value='BG') Bulgaria
                                            option(value='BF') Burkina Faso
                                            option(value='BI') Burundi
                                            option(value='KH') Cambodia
                                            option(value='CM') Cameroon
                                            option(value='CA') Canada
                                            option(value='CV') Cape Verde
                                            option(value='KY') Cayman Islands
                                            option(value='CF') Central African Republic
                                            option(value='TD') Chad
                                            option(value='CL') Chile
                                            option(value='CN') China
                                            option(value='CX') Christmas Island
                                            option(value='CC') Cocos (Keeling) Islands
                                            option(value='CO') Colombia
                                            option(value='KM') Comoros
                                            option(value='CG') Congo (Brazzaville)
                                            option(value='CD') Congo (Kinshasa)
                                            option(value='CK') Cook Islands
                                            option(value='CR') Costa Rica
                                            option(value='HR') Croatia
                                            option(value='CU') Cuba
                                            option(value='CW') Curaçao
                                            option(value='CY') Cyprus
                                            option(value='CZ') Czech Republic
                                            option(value='DK') Denmark
                                            option(value='DJ') Djibouti
                                            option(value='DM') Dominica
                                            option(value='DO') Dominican Republic
                                            option(value='EC') Ecuador
                                            option(value='EG') Egypt
                                            option(value='SV') El Salvador
                                            option(value='GQ') Equatorial Guinea
                                            option(value='ER') Eritrea
                                            option(value='EE') Estonia
                                            option(value='ET') Ethiopia
                                            option(value='FK') Falkland Islands
                                            option(value='FO') Faroe Islands
                                            option(value='FJ') Fiji
                                            option(value='FI') Finland
                                            option(value='FR') France
                                            option(value='GF') French Guiana
                                            option(value='PF') French Polynesia
                                            option(value='TF') French Southern Territories
                                            option(value='GA') Gabon
                                            option(value='GM') Gambia
                                            option(value='GE') Georgia
                                            option(value='DE') Germany
                                            option(value='GH') Ghana
                                            option(value='GI') Gibraltar
                                            option(value='GR') Greece
                                            option(value='GL') Greenland
                                            option(value='GD') Grenada
                                            option(value='GP') Guadeloupe
                                            option(value='GU') Guam
                                            option(value='GT') Guatemala
                                            option(value='GG') Guernsey
                                            option(value='GN') Guinea
                                            option(value='GW') Guinea-Bissau
                                            option(value='GY') Guyana
                                            option(value='HT') Haiti
                                            option(value='HM') Heard Island and McDonald Islands
                                            option(value='HN') Honduras
                                            option(value='HK') Hong Kong
                                            option(value='HU') Hungary
                                            option(value='IS') Iceland
                                            option(value='IN') India
                                            option(value='ID') Indonesia
                                            option(value='IR') Iran
                                            option(value='IQ') Iraq
                                            option(value='IE') Ireland
                                            option(value='IM') Isle of Man
                                            option(value='IL') Israel
                                            option(value='IT') Italy
                                            option(value='CI') Ivory Coast
                                            option(value='JM') Jamaica
                                            option(value='JP') Japan
                                            option(value='JE') Jersey
                                            option(value='JO') Jordan
                                            option(value='KZ') Kazakhstan
                                            option(value='KE') Kenya
                                            option(value='KI') Kiribati
                                            option(value='KW') Kuwait
                                            option(value='KG') Kyrgyzstan
                                            option(value='LA') Laos
                                            option(value='LV') Latvia
                                            option(value='LB') Lebanon
                                            option(value='LS') Lesotho
                                            option(value='LR') Liberia
                                            option(value='LY') Libya
                                            option(value='LI') Liechtenstein
                                            option(value='LT') Lithuania
                                            option(value='LU') Luxembourg
                                            option(value='MO') Macao
                                            option(value='MG') Madagascar
                                            option(value='MW') Malawi
                                            option(value='MY') Malaysia
                                            option(value='MV') Maldives
                                            option(value='ML') Mali
                                            option(value='MT') Malta
                                            option(value='MH') Marshall Islands
                                            option(value='MQ') Martinique
                                            option(value='MR') Mauritania
                                            option(value='MU') Mauritius
                                            option(value='YT') Mayotte
                                            option(value='MX') Mexico
                                            option(value='FM') Micronesia
                                            option(value='MD') Moldova
                                            option(value='MC') Monaco
                                            option(value='MN') Mongolia
                                            option(value='ME') Montenegro
                                            option(value='MS') Montserrat
                                            option(value='MA') Morocco
                                            option(value='MZ') Mozambique
                                            option(value='MM') Myanmar
                                            option(value='NA') Namibia
                                            option(value='NR') Nauru
                                            option(value='NP') Nepal
                                            option(value='NL') Netherlands
                                            option(value='NC') New Caledonia
                                            option(value='NZ') New Zealand
                                            option(value='NI') Nicaragua
                                            option(value='NE') Niger
                                            option(value='NG') Nigeria
                                            option(value='NU') Niue
                                            option(value='NF') Norfolk Island
                                            option(value='KP') North Korea
                                            option(value='MK') North Macedonia
                                            option(value='MP') Northern Mariana Islands
                                            option(value='NO') Norway
                                            option(value='OM') Oman
                                            option(value='PK') Pakistan
                                            option(value='PS') Palestinian Territory
                                            option(value='PA') Panama
                                            option(value='PG') Papua New Guinea
                                            option(value='PY') Paraguay
                                            option(value='PE') Peru
                                            option(value='PH') Philippines
                                            option(value='PN') Pitcairn
                                            option(value='PL') Poland
                                            option(value='PT') Portugal
                                            option(value='PR') Puerto Rico
                                            option(value='QA') Qatar
                                            option(value='RE') Reunion
                                            option(value='RO') Romania
                                            option(value='RU') Russia
                                            option(value='RW') Rwanda
                                            option(value='ST') São Tomé and Príncipe
                                            option(value='BL') Saint Barthélemy
                                            option(value='SH') Saint Helena
                                            option(value='KN') Saint Kitts and Nevis
                                            option(value='LC') Saint Lucia
                                            option(value='SX') Saint Martin (Dutch part)
                                            option(value='MF') Saint Martin (French part)
                                            option(value='PM') Saint Pierre and Miquelon
                                            option(value='VC') Saint Vincent and the Grenadines
                                            option(value='WS') Samoa
                                            option(value='SM') San Marino
                                            option(value='SA') Saudi Arabia
                                            option(value='SN') Senegal
                                            option(value='RS') Serbia
                                            option(value='SC') Seychelles
                                            option(value='SL') Sierra Leone
                                            option(value='SG') Singapore
                                            option(value='SK') Slovakia
                                            option(value='SI') Slovenia
                                            option(value='SB') Solomon Islands
                                            option(value='SO') Somalia
                                            option(value='ZA') South Africa
                                            option(value='GS') South Georgia/Sandwich Islands
                                            option(value='KR') South Korea
                                            option(value='SS') South Sudan
                                            option(value='ES') Spain
                                            option(value='LK') Sri Lanka
                                            option(value='SD') Sudan
                                            option(value='SR') Suriname
                                            option(value='SJ') Svalbard and Jan Mayen
                                            option(value='SZ') Swaziland
                                            option(value='SE') Sweden
                                            option(value='CH') Switzerland
                                            option(value='SY') Syria
                                            option(value='TW') Taiwan
                                            option(value='TJ') Tajikistan
                                            option(value='TZ') Tanzania
                                            option(value='TH') Thailand
                                            option(value='TL') Timor-Leste
                                            option(value='TG') Togo
                                            option(value='TK') Tokelau
                                            option(value='TO') Tonga
                                            option(value='TT') Trinidad and Tobago
                                            option(value='TN') Tunisia
                                            option(value='TR') Turkey
                                            option(value='TM') Turkmenistan
                                            option(value='TC') Turks and Caicos Islands
                                            option(value='TV') Tuvalu
                                            option(value='UG') Uganda
                                            option(value='UA') Ukraine
                                            option(value='AE') United Arab Emirates
                                            option(value='GB' selected='selected') United Kingdom (UK)
                                            option(value='US') United States (US)
                                            option(value='UM') United States (US) Minor Outlying Islands
                                            option(value='UY') Uruguay
                                            option(value='UZ') Uzbekistan
                                            option(value='VU') Vanuatu
                                            option(value='VA') Vatican
                                            option(value='VE') Venezuela
                                            option(value='VN') Vietnam
                                            option(value='VG') Virgin Islands (British)
                                            option(value='VI') Virgin Islands (US)
                                            option(value='WF') Wallis and Futuna
                                            option(value='EH') Western Sahara
                                            option(value='YE') Yemen
                                            option(value='ZM') Zambia
                                            option(value='ZW') Zimbabwe
                                        noscript
                                            button(type='submit' name='woocommerce_checkout_update_totals' value='Update country / region') Update country / region
                                p#billing_address_1_field.form-row.ven-form-group.ven-form-group--half.validate-required(data-priority='70')
                                    label.ven-form-label(for='billing_address_1')
                                        | Street address 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_address_1.input-text.ven-form-control(type='text' name='billing_address_1' placeholder='House number and street name' value='Alexandra Palace Way' autocomplete='address-line1')
                                p#billing_company_field.form-row.ven-form-group.ven-form-group--half(data-priority='90')
                                    label.ven-form-label(for='billing_company')
                                        | Company name 
                                        span.optional (optional)
                                    span.woocommerce-input-wrapper
                                        input#billing_company.input-text.ven-form-control(type='text' name='billing_company' placeholder='' value='' autocomplete='organization')
                                p#billing_postcode_field.form-row.ven-form-group.ven-form-group--half.validate-required.validate-postcode(data-priority='100')
                                    label.ven-form-label(for='billing_postcode')
                                        | Postcode 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_postcode.input-text.ven-form-control(type='text' name='billing_postcode' placeholder='' value='N22 7AY' autocomplete='postal-code')
                                p#billing_city_field.form-row.ven-form-group.ven-form-group--half.validate-required(data-priority='110')
                                    label.ven-form-label(for='billing_city')
                                        | Town / City 
                                        abbr.required(title='required') *
                                    span.woocommerce-input-wrapper
                                        input#billing_city.input-text.ven-form-control(type='text' name='billing_city' placeholder='' value='Collingwood' autocomplete='address-level2')
                                p#billing_state_field.form-row.ven-form-group.ven-form-group--half.validate-state(data-priority='120')
                                    label.ven-form-label(for='billing_state')
                                        | County 
                                        span.optional (optional)
                                    span.woocommerce-input-wrapper
                                        input#billing_state.input-text.ven-form-control(type='text' value='England' placeholder='' name='billing_state' autocomplete='address-level1' data-input-classes='ven-form-control')
                            p
                                button.button.ec-btn.ec-btn-block.ec-btn-primary(type='submit' name='save_address' value='Save address') Save address
                                input#woocommerce-edit-address-nonce(type='hidden' name='woocommerce-edit-address-nonce' value='ca47f7e676')
                                input(type='hidden' name='_wp_http_referer' value='/my-account/edit-address/billing/')
                                input(type='hidden' name='action' value='edit_address')

