extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-view-subscription"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    table.shop_table.subscription_details
                        tbody
                            tr
                                td Status
                                td Active
                            tr
                                td Start date
                                td 41 mins ago
                            tr
                                td Last order date
                                td 41 mins ago
                            tr
                                td Next payment date
                                td December 31, 2020
                            tr
                                td Payment
                                td
                                    span.subscription-payment-method(data-is_manual='no') Via Visa card ending in 4242
                            tr
                                td Actions
                                td
                                    a.button.cancel(href='/my-account/view-subscription/246/?subscription_id=246&change_subscription_to=cancelled&_wpnonce=7298820f61') Cancel
                                    a.button.change_address(href='https://newdeathginstg.wpengine.com/my-account/edit-address/shipping/?subscription=246') Change address
                                    a.button.change_payment_method(href='https://newdeathginstg.wpengine.com/checkout/order-pay/246/?pay_for_order=true&key=wc_order_wgWvYzL3YjRor&change_payment_method=246&_wpnonce=67ec0000e1') Change payment
                                    a.button.subscription_renewal_early(href='https://newdeathginstg.wpengine.com/my-account/?subscription_renewal_early=246&subscription_renewal=true') Renew now
                    h2.ven-subscription-heading Subscription totals
                    table.shop_table.order_details
                        thead
                            tr
                                th.product-name Product
                                th.product-total Total
                        tbody
                            tr.order_item
                                td.product-name
                                    a(href='https://newdeathginstg.wpengine.com/product/dry/') Dry 
                                    strong.product-quantity × 1 
                                    a.wcs-switch-link.button(href='https://newdeathginstg.wpengine.com/product/dry/?switch-subscription=246&item=61&_wcsnonce=9b2e7c61f5') Upgrade or Downgrade
                                td.product-total
                                    span.woocommerce-Price-amount.amount
                                        span.woocommerce-Price-currencySymbol $
                                        | 80.75
                                    |  every 3 months
                        tfoot
                            tr
                                th(scope='row') Subtotal:
                                td
                                    span.woocommerce-Price-amount.amount
                                        span.woocommerce-Price-currencySymbol $
                                        | 80.75
                            tr
                                th(scope='row') Shipping:
                                td
                                    span.woocommerce-Price-amount.amount
                                        span.woocommerce-Price-currencySymbol $
                                        | 38.50
                                    small.shipped_via via express
                            tr
                                th(scope='row') Total:
                                td
                                    span.woocommerce-Price-amount.amount
                                        span.woocommerce-Price-currencySymbol $
                                        | 119.25
                                    |  every 3 months
                    header
                        h2.ven-subscription-heading Related orders
                    include _order-table
                    include _customer-detail