.ven-my-account {
    padding: $ec-page-padding-y $ec-container-padding-x;

    @include breakpoint-up(lg) {
        padding-top: $ec-page-padding-y-lg;
        padding-bottom: $ec-page-padding-y-lg;
    }

    &__title {
        margin-bottom: 30px;
        @extend %ec-heading-primary;
        text-align: center;
    }
}

.woocommerce-MyAccount-navigation {
    padding: 0 $ec-container-padding-x;
    margin-left: -$ec-container-padding-x;
    margin-right: -$ec-container-padding-x;
    margin-bottom: 52px;
    overflow-x: auto;
    overflow-y: hidden;

    @include breakpoint-up(lg) {
        overflow-x: hidden;
    }

    @include breakpoint-down(lg) {
        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    ul {
        @include reset-list;
        display: flex;
        flex-wrap: nowrap;
        margin: 0 -8px;

        @include breakpoint-up(lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

.woocommerce-MyAccount-navigation-link {
    padding: 0 8px;

    a {
        display: block;
        padding: 14px 22px;
        border-radius: 5px;
        font-size: 14px;
        font-weight: 500;
        line-height: (17/14);
        text-decoration: none;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
        }
    }

    &.is-active {
        a {
            background-color: $gray-200;
        }
    }

    &--customer-logout {
        a {
            color: $red;
        }
    }
}

.woocommerce-MyAccount-content {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
}

.shop_table {
    width: calc(100% + #{$ec-container-padding-x} * 2);
    margin: 0 (-$ec-container-padding-x);
    font-size: 14px;

    @include breakpoint-up(lg) {
        width: 100%;
        margin: 0;
    }

    a {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    th,
    td {
        padding: 15px;

        &:first-child {
            padding-left: 56px;
        }

        &:last-child {
            padding-right: 56px;
        }
    }

    thead {
        th {
            letter-spacing: normal;
            text-align: left;
            padding-top: 0;
            padding-bottom: 23px;
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: $gray-200;
            }
        }
    }
}

.woocommerce-orders-table {
    &__cell-order-actions {
        .woocommerce-button {
            padding: 8px;
            margin-right: 20px;
            text-transform: lowercase;

            @include breakpoint-up(lg) {
                margin-right: 5px;
            }

            &:last-child {
                margin-right: -8px;
            }

            &.cancel {
                color: $red;
            }
        }
    }
}

@include breakpoint-down(lg) {
    .woocommerce-orders-table {
        display: block;

        thead {
            display: none;
        }

        tbody,
        tr,
        td {
            display: block;
        }

        tr {
            padding: (35px - 8px) 15px;
        }

        td {
            padding: 8px 0 8px 100px !important;
            text-align: right;
            position: relative;

            &::before {
                content: attr(data-title);
                text-transform: uppercase;
                position: absolute;
                top: 8px;
                left: 0;
                width: 100px;
                text-align: left;
            }
        }
    }
}

// woocommerce pagination
.woocommerce-pagination {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include breakpoint-up(lg) {
        margin-top: (80px - 14px);
    }

    .woocommerce-button {
        @extend .ec-btn;
        padding-top: 13px;
        padding-bottom: 13px;

        & + .woocommerce-button {
            margin-left: 30px;
        }

        &--previous {
            @extend .ec-btn-secondary;
        }

        &--next {
            @extend .ec-btn-primary;
        }
    }
}

.ven-order-details-information {
    text-align: center;
    margin-bottom: 60px;
}