.woocommerce-edit-account {
    .woocommerce-MyAccount-content {
        max-width: 570px;
    }
}

.woocommerce-EditAccountForm {
    .ven-form-group {    
        > .ven-form-control + span {
            display: block;
            font-size: 12px;
            margin-top: 10px;

            em {
                font-style: normal;
            }
        }
    }

    fieldset {
        margin-top: 50px;

        legend {
            @extend %ec-heading-primary;
            margin-bottom: 20px;
        }
    }

    .woocommerce-Button {
        @extend .ec-btn;
        @extend .ec-btn-primary;
        display: block;
        width: 100%;
        margin-top: 38px;
    }
}