.ven-account-giftcards {
    h2 {
        @extend %ec-heading-primary;
        text-align: center;
        margin-bottom: 30px;
    }

    table + h2 {
        margin-top: 40px;

        @include breakpoint-up(lg) {
            margin-top: 80px;
        }
    }

    .woocommerce-MyAccount-Giftcards-balance-amount {
        font-size: 24px;
        line-height: 1.15;
        text-align: center;
        margin-bottom: 25px;

        @include breakpoint-up(lg) {
            font-size: 34px;
        }
    }

    form {
        margin-bottom: 40px;

        h4 {
            display: none;
        }

        @include breakpoint-up(lg) {
            max-width: 500px;
            margin-bottom: 80px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .woocommerce-MyAccount-Giftcards-form {
        display: flex;
        flex-wrap: wrap;

        input {
            @extend %form-control;
            height: 42px;

            @include breakpoint-up(lg) {
                width: auto;
                flex: 1;
            }
        }

        button {
            @extend .ec-btn;
            @extend .ec-btn-primary;
            flex-grow: unset;
            width: 100%;

            @include breakpoint-up(lg) {
                width: auto;
            }
        }
    }
}