extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account woocommerce-orders"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    p.ven-order-details-information
                        | Order #
                        mark.order-number 236
                        |  was placed on 
                        mark.order-date August 20, 2020
                        |  and is currently 
                        mark.order-status Processing
                        | .
                    include _order-table
                    include _pagination
