extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "logged-in woocommerce-page woocommerce-account"

block container
    .woocommerce
        section.ven-my-account
            .ven-my-account__header
                h2.ven-my-account__title My account
            .ven-my-account__body
                include _navigation
                .woocommerce-MyAccount-content
                    .woocommerce-notices-wrapper
                    .ven-refer-friends
                        .refer-content
                            h2.referral-title Refer friends
                            p.referral-description
                                | Invite a friend on Facebook, Twitter, Whatsapp Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                | Lorem Ipsum has been the industry's standard dummy.
                            .woocommerce
                                .aw-referrals-share-container.aw-referrals-share-page
                                    .aw-referrals-share-buttons.button-count-3
                                        a.btn.js-automatewoo-open-share-box.btn-facebook(href='#' style='background-color: #3B5998;') Share via Facebook
                                        a.btn.js-automatewoo-open-share-box.btn-twitter(href='#' style='background-color: #55acee;') Share via Twitter
                                        a.btn.js-automatewoo-open-share-box.btn-whatsapp(href='#' style='background-color: #00d66f;') Share via WhatsApp
                                    .aw-referrals-share-or Or
                                    form.aw-email-referral-form(action='' accept-charset='UTF-8' method='post')
                                        input(type='hidden' name='action' value='aw-referrals-email-share')
                                        p.form-row.form-row-wide
                                            input.woocommerce-Input.input-text(autocomplete='off' placeholder='Enter email address' type='email' name='emails[]')
                                        p.form-row.form-row-wide
                                            input.woocommerce-Input.input-text(autocomplete='off' placeholder='Enter email address' type='email' name='emails[]')
                                        p.form-row.form-row-wide
                                            input.woocommerce-Input.input-text(autocomplete='off' placeholder='Enter email address' type='email' name='emails[]')
                                        p.form-row.form-row-wide
                                            input.woocommerce-Input.input-text(autocomplete='off' placeholder='Enter email address' type='email' name='emails[]')
                                        p.form-row.form-row-wide
                                            input.woocommerce-Input.input-text(autocomplete='off' placeholder='Enter email address' type='email' name='emails[]')
                                        .email-button
                                            button.woocommerce-Button.button.btn.btn-success(type='submit') Continue
