.ven-subscription-heading {
    @extend .ven-heading-primary;
    margin-top: 60px;
    margin-bottom: 20px;
}

.woocommerce-view-subscription {
    .woocommerce-customer-details {
        margin-top: 60px;
        margin-right: 0;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

body {
    &.woocommerce-subscriptions {
        .woocommerce_account_subscriptions {
            .woocommerce-message {
                text-align: center;
            }
        }
    }
}

.subscription_details {
    .button {
        margin-right: 15px;
    }
}