.ven-styleguide {
    padding: 50px 0;

    section {
        margin-bottom: 40px;

        > h2 {
            margin-bottom: 10px;
        }

        .ven-btn {
            margin-right: 4px;
            margin-bottom: 8px;
        }
    }
}

.ven-demo-slider-card {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}
