extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-styleguide"

block scripts_demo
    script.
        var elms = document.getElementsByClassName( 'splide' );
        for ( var i = 0, len = elms.length; i < len; i++ ) {
            new Splide(elms[ i ], {
                lazyLoad: 'nearby'
            }).mount();
        }

block container
    .ven-styleguide
        .container
            //- Slider
            section
                .splide.ven-demo-slider
                    .splide__track
                        .splide__list
                            .splide__slide
                                .ven-demo-slider-card
                                    img(data-splide-lazy="https://images.unsplash.com/photo-1485546784815-e380f3297414?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="")
                            .splide__slide
                                .ven-demo-slider-card
                                    img(data-splide-lazy="https://images.unsplash.com/photo-1483058712412-4245e9b90334?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="")
            //- Heading
            section
                h1.heading-primary 	h1. Ven heading
                h2.heading-primary 	h2. Ven heading
                h3.heading-primary 	h3. Ven heading
                h4.heading-primary 	h4. Ven heading
                h5.heading-primary 	h5. Ven heading
                h6.heading-primary 	h6. Ven heading
            //- Buttons
            section
                button.ven-btn.ven-btn-primary Button primary
                button.ven-btn.ven-btn-outline-primary Button outline primary
                button.ven-btn.ven-btn-primary.is-loading Button primar
                button.ven-btn.ven-btn-primary(disabled) Button disabled
                button.ven-btn.ven-btn-link Button link
                button.ven-btn.ven-btn-link(disabled) Button link disabled
            //- Forms
            section
                h2 Gravity Forms
                .gform_wrapper
                    form(action="./styleguide.html")
                        .gform_body
                            ul.gform_fields
                                +g-input("g-input-1", "Input label", "Input place holder", "Validation message")(class="medium")
                                +g-input("g-input-2", "Input label", "Input place holder")(class="medium")
                                +g-input("g-input-3", "Input label", "Input place holder")(class="hidden_label")
                                +g-select("Select box")
                                +g-textarea("Text area", "Type your message here")
                                +g-checkbox("g-checkbox", "Check box 1", "Check box 2")
                                +g-radio("g-radio", "Radio 1", "Radio 2")
                        .gform_footer
                            input.gform_button(type="submit" value="Submit")
            section
                h2 Ven form
                form(action="./styleguide.html")
                    +v-input("text", "v-input-1", "Input label", "Input place holder", "Validation message")
                    .ven-form-group
                        label.ven-form-label(for="v-input-disabled") Input disabled
                        input.ven-form-control(type="text", id="v-input-disabled", placeholder="Input disabled", disabled)
                    +v-textarea("Text area", "Text area place holder")
                    .ven-form-group
                        +v-checkbox("v-checkbox-1", "Check box 1")
                    .ven-form-group
                        +v-radio("v-radio", "v-radio-1", "Radio 1")
                    .ven-form-group
                        +v-radio("v-radio", "v-radio-2", "Radio 2")
                    .ven-form-group
                        label.ven-custom-switcher
                            input(type="checkbox")
                            span.ven-custom-switcher__slider
                            span.ven-custom-switcher__label Custom switcher


