header.ven-header
    nav.navbar.navbar-expand-lg.js-ven-navbar
        a.navbar-brand(href="./index.html")
            img(src="https://cdn.itviec.com/employers/ven-creative/logo/w170/SU525kXbzidEzvPzA1reTtCA/ven-creative-logo.png", alt="")
        button.navbar-toggler(
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            span.ven-icon.ven-icon-toggler
                span
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                each val, index in ["About", "Contact"]
                    li.nav-item(class=(index == 0 && "current-menu-item"))
                        a.nav-link(href="#")= val
                li.nav-item
                    a.nav-link(href="#" data-popup-target="cart-popup") Cart