$icon-toggler-size: 24px;
$icon-toggler-weight: 2px;
$icon-toggler-color: $primary;
$icon-toggler-top: 4px;
$icon-toggler-bottom: $icon-toggler-size - $icon-toggler-top - $icon-toggler-weight;
$icon-toggler-transition: all 300ms ease-out;

.ven-icon-toggler {
    width: $icon-toggler-size;
    height: $icon-toggler-size;
    position: relative;
    color: $icon-toggler-color;

    &::before,
    &::after {
        width: 100%;
        content: "";
        display: block;
        height: $icon-toggler-weight;
        background-color: currentColor;
        position: absolute;
        transition: $icon-toggler-transition;
    }

    &::before {
        left: 0;
        top: $icon-toggler-top;

        .navbar-toggler[aria-expanded="true"] & {
            top: 50%;
            transform: rotate(45deg);
            margin-top: (-$icon-toggler-weight / 2);
        }
    }

    &::after {
        left: 0;
        top: $icon-toggler-bottom;

        .navbar-toggler[aria-expanded="true"] & {
            top: 50%;
            transform: rotate(-45deg);
            margin-top: (-$icon-toggler-weight / 2);
        }
    }

    span {
        display: block;
        width: 100%;
        height: $icon-toggler-weight;
        background-color: currentColor;
        transition: $icon-toggler-transition;

        .navbar-toggler[aria-expanded="true"] & {
            opacity: 0;
        }
    }
}

.ven-header {
    height: 56px;
}

.navbar-toggler {
    padding: 0;
    border: none;
    border-radius: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: $gray-100;
    @include wp-admin-bar;
}

.navbar-nav {
    .nav-item {
        &.current-menu-item {
            .nav-link {
                color: $primary;
            }
        }
    }
}

.navbar-brand {
    img {
        max-height: 20px;
    }
}