footer.ven-footer
    .container
        .ven-footer-info                   
            .row
                .col-lg-6
                    .ven-copyright Copyright 2020 Ven. All rights reserved. 
                .col-lg-6
                    .ven-ven-link
                        a(href="https://ven.com.au/" title="ven - /web /design /seo | Web Design, Development and SEO Melbourne" target="_blank")
                            span website by &lt;ven&gt;