extends ../../_core/layouts/layouts-default

append vars
    -bodyClass = "page-template-404"

block container
    section.ven-404
        .container
            .ven-404__header
                h1 404
            .ven-404__body
                p Page not found
            .ven-404__footer
                a.ven-btn.ven-btn-primary(href="./index.html") Go back to home
