.ven-404 {
    padding: 60px 0;
    text-align: center;
    font-size: 32px;

    @include breakpoint-up(lg) {
        padding: 100px 0;
    }

    &__header {
        h1 {
            font-size: 100px;
            line-height: 1;
            font-weight: bold;
            margin-bottom: 0;
            letter-spacing: 0.1em;
        }
    }

    &__body {
        letter-spacing: 0.15em;
    }

    &__footer {
        margin-top: 40px;
    }
}
