.ven-cart-popup(data-popup-content='cart-popup')
    .ven-cart-popup__outer
        .ven-cart-popup__header
            .ven-cart-popup__title Cart items
            .ven-cart-popup__close
                button(type="button" data-popup-close)
                    span.ven-icon.ven-icon-remove
        .ven-cart-popup__body
            .ven-cart-popup__inner
                .ven-cart-popup__wrapper
                    .ven-cart-box
                        +cart-product-list
                        +cart-coupon
                        +cart-summary
                        +cart-total
                        +cart-recurring
        .ven-cart-popup__footer
            a.ven-btn.ven-btn-primary.ven-btn-block(href="#") Proceed to checkout   - 
                strong
                    span.woocommerce-Price-amount.amount
                        bdi
                            span.woocommerce-Price-currencySymbol $
                            | 238.50
                small.includes_tax
                    | (includes 
                    span.woocommerce-Price-currencySymbol 21.68
                    |  GST)