.ven-cart-popup {
    width: 100%;
    background-color: $gray-200;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 0.5s ease;

    @include breakpoint-up(lg) {
        width: 450px;
    }

    &.is-active {
        transform: translateX(0);
    }

    .ec-container {
        padding-left: 0;
        padding-right: 0;
    }

    .includes_tax {
        display: block;
    }

    &__outer {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__inner {
        height: 100%;
    }

    &__wrapper {
        padding: 0 15px;

        @include breakpoint-up(lg) {
            padding: 0 35px;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        padding: 15px 15px 0;

        @include breakpoint-up(lg) {
            padding: 48px 35px 0;
        }
    }

    &__title {
        flex: 1;
    }

    &__close {
        margin-left: 10px;

        button {
            border: none;
            background: none;
            border-radius: 0;
            padding: 0;
            line-height: 0;
            appearance: none;
        }
    }

    &__body {
        flex: 1;
        overflow: hidden;
        margin: 20px 0;

        @include breakpoint-up(lg) {
            margin: 40px 0;
        }
    }

    &__footer {
        padding: 0 15px 15px;

        @include breakpoint-up(lg) {
            padding: 0 35px 48px;
        }
    }
}
