/*---------------------------------
**** Global | Layout
-----------------------------------*/
* {
    &:focus {
        outline: none;
    }
}

html {
    #wpadminbar {
        @include breakpoint-down(782px) {
            margin-top: -46px;
        }
    }
}

body {
    font-family: $font-family-primary;
    color: $body-color;
	position: relative;

    &.is-lock {
        overflow: hidden;
    }
}

.ven-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    @include ie11 {
        display: block;
    }
}

.ven-content {
    flex: 1 1 auto;
}

.ven-popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 50;
}

/*---------------------------------
**** Global | Link
-----------------------------------*/
a {
    color: $link-color;

    &:hover {
        color: $link-color;
    }
}

/*---------------------------------
**** Global | Media
-----------------------------------*/
img {
    max-width: 100%;

    &.lazy {
        visibility: hidden;

        &.loaded {
            visibility: visible;
        }
    }
}

.ven-img-drop {
    display: block;
    position: relative;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
		object-position: 50% 50%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.custom-object-fit {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    > img {
        display: none !important;
    }
}

/*---------------------------------
**** Global | Forms
-----------------------------------*/
input,
textarea {
    font-size: 16px;
}

textarea {
    resize: none;
}