$ec-page-padding-y: 50px !default;
$ec-page-padding-y-lg: 100px !default;
$ec-container: 650px !default;
$ec-container-padding-x: 15px !default;

// checkout symbol checked
%checkout-checked-symbol {
    content: "";
    display: block;
    width: 14px;
    height: 11px;
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5L5 9L13 1' stroke='black' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: 100% 100%;
    transform: scale(0);
    transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

// ecommerce container
.ec-container {
    max-width: ($ec-container + $ec-container-padding-x * 2);
    padding-left: $ec-container-padding-x;
    padding-right: $ec-container-padding-x;
    margin-left: auto;
    margin-right: auto;
}

// ecommerce page title
%ec-heading-primary {
    font-family: $font-family-secondary;
}

// ecommerce breadcrumb
.ec-breadcrumb {
    @include reset-list;
    display: flex;
    justify-content: center;
    font-size: 14px;

    li {
        display: inline-flex;
        align-items: center;

        & + li {
            margin-left: 10px;

            &::before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 4px;
                height: 6px;
                background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L3 3L1 5' stroke='black'/%3E%3C/svg%3E ");
                background-size: 100% 100%;
                margin-right: 10px;
            }
        }
    }

    a {
        color: $gray-300;
    }
}

// ecommerce button
.ec-btn {
    @extend .ven-btn;

    &.ec-btn-edit {
        padding-left: 8px;
        padding-right: 8px;
    }
}

.ec-btn-block {
    display: block;
    width: 100%;
}

.ec-btn-primary {
    @extend .ven-btn-primary;
}

.ec-btn-secondary {
    @extend .ven-btn-link;
}

.ec-btn-edit {
    @extend .ven-btn-link;
}

// woocommerce
.woocommerce {
    .clear {
        clear: both;
    }
}

.woocommerce-error {
    @include reset-list;
    color: $red;
    font-size: 14px;
    margin-bottom: 40px;

    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

%woo-form-row {
    @include breakpoint-up(lg) {
        &.form-row-first,
        &.form-row-last {
            width: calc(50% - #{$form-col-spacing / 2});
        }

        &.form-row-first {
            float: left;
        }

        &.form-row-last {
            float: right;
        }
    }
}

%woo-addresses {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;

    @include breakpoint-up(xl) {
        margin-left: -40px;
        margin-right: -40px;
    }
}

%woo-address {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }

    @include breakpoint-up(lg) {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 0 !important;
    }

    @include breakpoint-up(xl) {
        padding-left: 40px;
        padding-right: 40px;
    }
}

%woo-address-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}
