//- Icon
mixin icon(name)
    svg(role="img")&attributes(attributes)
        use(xlink:href="#icon-"+name)

//- Gravity form
mixin g-input(id, label, placeholder, error=null)
    li.gfield(class=(error && "gfield_error"))&attributes(attributes)
        label.gfield_label(for=id)= label
        .ginput_container
            input(type="text" placeholder=placeholder id=id)
        if error
            .validation_message= error

mixin g-select(label)
    li.gfield&attributes(attributes)
        label.gfield_label= label
        .ginput_container.ginput_container_select
            select
                option Option 1
                option Option 2
                option Option 3

mixin g-textarea(label, placeholder)
    li.gfield&attributes(attributes)
        label.gfield_label= label
        .ginput_container
            textarea.textarea(rows="4" placeholder=placeholder)

mixin g-checkbox(name, ...items)
    li.gfield&attributes(attributes)
        .ginput_container.ginput_container_checkbox
            ul.gfield_checkbox
                each item, key in items
                    li
                        input(type="checkbox" id=name+"-"+key)
                        label(for=name+"-"+key)= item

mixin g-radio(name, ...items)
    li.gfield&attributes(attributes)
        .ginput_container.ginput_container_radio
            ul.gfield_radio
                each item, key in items
                    li
                        input(type="radio" name=name id=name+"-"+key)
                        label(for=name+"-"+key)= item

//- Ven form
mixin v-input(type, id, label, placeholder, error=null)
    .ven-form-group(class=error && "ven-form-group--error")&attributes(attributes)
        label.ven-form-label(for=id)= label
        input.ven-form-control(type=type, id=id, placeholder=placeholder)
        if error
            span.invalid-message= error

mixin v-select(label)
    .ven-form-group&attributes(attributes)
        label.ven-form-label= label
        select
            option Option 1
            option Option 2
            option Option 3

mixin v-textarea(label, placeholder)
    .ven-form-group&attributes(attributes)
        label.ven-form-label= label
        textarea.ven-form-control(placeholder=placeholder)

mixin v-checkbox(id, label, checked=false)
    span.ven-custom-control
        input(type="checkbox" id=id checked=checked)
        label(for=id)= label

mixin v-radio(name, id, label, checked= false)
    span.ven-custom-control
        input(type="radio" name=name id=id checked=checked)
        label(for=id)= label