//- Box quantity
mixin box-quantity
    .ven-box-quantity
        .ven-box-quantity__button
            button(type="button")
                span.ven-icon.ven-icon-minus
        .ven-box-quantity__input
            input(type="number" min="1" max="10" value="1")
        .ven-box-quantity__button
            button(type="button")
                span.ven-icon.ven-icon-plus

//- Cart product list
mixin cart-product-list($control=false)
    .ven-cart-box-products
        each val in [1, 2]
            .ven-cart-box-products__item
                .ec-container
                    .ven-cart-box-products__inner
                        .ven-cart-box-products__image
                            a(href="#")
                                figure
                                    img.lazy(data-src="./images/woocommerce/product-sample-thumbnail.png" alt="")
                        .ven-cart-box-products__content
                            .ven-cart-box-products__header
                                .ven-cart-box-products__information
                                    h3.ven-cart-box-products__name
                                        a(href="#") Lorem isum
                                    p.ven-cart-box-products__description Lorem ipsum dolor sit amet consectetur adipisicing elit
                                .ven-cart-box-products__price $799.00
                            .ven-cart-box-products__footer
                                .ven-cart-box-products__quantity
                                    if $control
                                        +box-quantity
                                    else
                                        .ven-data-quantity Qty: 1
                                if $control
                                    .ven-cart-box-products__remove
                                        a.ven-cart-box-product-remove(href="#") Remove

//- Cart coupon
mixin cart-coupon
    .ven-cart-box-coupon
        .ec-container
            .ven-cart-box-coupon__inner
                .ven-cart-box-coupon__input
                    input(type="text" placeholder="Got a coupon?")
                .ven-cart-box-coupon__button
                    button(type="submit") Apply

//- Cart summary
mixin cart-summary
    .ven-cart-box-summary
        .ec-container
            .ven-cart-box-summary__inner
                -
                    var cartBoxSummary = {
                        "Sub-total" : "$1598.00",
                        "Shipping" : "$10.00",
                        "GST": "$10.00"
                    }
                each val, key in cartBoxSummary
                    .ven-cart-box-summary__item
                        .ven-cart-box-summary__title= key
                        .ven-cart-box-summary__content= val
                //- Gift
                .ven-cart-box-summary__item.ven-use-gift-card-balance.update_totals_on_change
                    .ven-custom-control
                        input#ven-use-gift-card-balance(type='checkbox' name='ven-use-gift-card-balance')
                        label(for='ven-use-gift-card-balance')
                            | Use 
                            strong
                                span.woocommerce-Price-amount.amount
                                    span.woocommerce-Price-currencySymbol $
                                    | 110.00
                            |  from your Gift Card balance.
                .ven-cart-box-summary__item.cart-discount.gift-card.gift-card--balance
                    .ven-cart-box-summary__title
                        p Gift Card Balance
                        p
                            strong Code:
                            br
                            | XXXX-XXXX-XXXX-CO8K
                            br
                            strong Remaining Balance:
                            br
                            span.woocommerce-Price-amount.amount
                                bdi
                                    span.woocommerce-Price-currencySymbol $
                                    | 390.00
                    .ven-cart-box-summary__content
                        span.woocommerce-Price-amount.amount
                            bdi
                                | -
                                span.woocommerce-Price-currencySymbol $
                                | 110.00

//- Cart total
mixin cart-total
    .ven-cart-box-total
        .ec-container
            .ven-cart-box-total__inner
                .ven-cart-box-total__title Total
                .ven-cart-box-total__content
                    strong
                        span.woocommerce-Price-amount.amount
                            bdi
                                span.woocommerce-Price-currencySymbol $
                                | 238.50
                    small.includes_tax
                        | (includes 
                        span.woocommerce-Price-currencySymbol 21.68
                        |  GST)

//- Cart recurring total
mixin cart-recurring
    .ven-cart-recurring
        .ec-container
            table
                tbody
                    tr.recurring-totals
                        th(colspan='2') Recurring totals
                    tr.cart-subtotal.recurring-total
                        th(rowspan='1') Subtotal
                        td(data-title='Subtotal')
                            span.woocommerce-Price-amount.amount
                                span.woocommerce-Price-currencySymbol $
                                | 80.75
                            |  / month
                    tr.shipping.recurring-total.2020_10_31_monthly
                        th Shipping
                        td(data-title='Shipping')
                            ul#shipping_method_2020_10_31_monthly
                                li
                                    input#shipping_method_2020_10_31_monthly_0_flat_rate1.shipping_method.shipping_method_2020_10_31_monthly_0(type='radio' name='shipping_method[2020_10_31_monthly_0]' data-index='2020_10_31_monthly_0' value='flat_rate:1' checked="'checked'")
                                    label(for='shipping_method_2020_10_31_monthly_0_flat_rate1')
                                        | express: 
                                        span.woocommerce-Price-amount.amount
                                            span.woocommerce-Price-currencySymbol $
                                            | 38.50
                                        |  / month
                                li
                                    input#shipping_method_2020_10_31_monthly_0_flat_rate2.shipping_method.shipping_method_2020_10_31_monthly_0(type='radio' name='shipping_method[2020_10_31_monthly_0]' data-index='2020_10_31_monthly_0' value='flat_rate:2')
                                    label(for='shipping_method_2020_10_31_monthly_0_flat_rate2')
                                        | standard: 
                                        span.woocommerce-Price-amount.amount
                                            span.woocommerce-Price-currencySymbol $
                                            | 22.00
                                        |  / month
                                li
                                    input#shipping_method_2020_10_31_monthly_0_local_pickup3.shipping_method.shipping_method_2020_10_31_monthly_0(type='radio' name='shipping_method[2020_10_31_monthly_0]' data-index='2020_10_31_monthly_0' value='local_pickup:3')
                                    label(for='shipping_method_2020_10_31_monthly_0_local_pickup3') Free pick-up: Free
                    tr.order-total.recurring-total
                        th(rowspan='1') Recurring total
                        td(data-title='Recurring total')
                            strong
                                span.woocommerce-Price-amount.amount
                                    span.woocommerce-Price-currencySymbol $
                                    | 119.25
                            |   / month
                            .first-payment-date
                                small First renewal: October 31, 2020
//- Woo price
mixin woo-price(price=100)
    span.woocommerce-Price-amount.amount
        span.woocommerce-Price-currencySymbol $
        = price

//- woo price full
mixin woo-price-full(price_old=100, price_new=80)
    del
        span.woocommerce-Price-amount.amount
            bdi
                span.woocommerce-Price-currencySymbol $
                = price_old
    ins
        span.woocommerce-Price-amount.amount
            bdi
                span.woocommerce-Price-currencySymbol $
                = price_new