$box-quantity-button-background-color: $gray-200 !default;
$box-quantity-button-hover-background-color: $gray-300 !default;
$box-quantity-button-border-radius: 0 !default;
$box-quantity-button-size: 37px !default;
$box-quantity-button-size-lg: 25px !default;
$box-quantity-icon-size: 11px !default;
$box-quantity-icon-size-lg: 7px !default;
$box-quantity-input-font-size: 16px !default;
$box-quantity-input-font-weight: 500 !default;

// cart box quantify
.ven-box-quantity {
    display: inline-flex;
    align-items: center;

    &__button {
        button {
            width: $box-quantity-button-size;
            height: $box-quantity-button-size;
            background-color: $box-quantity-button-background-color;
            border: none;
            border-radius: $box-quantity-button-border-radius;
            padding: 0;
            line-height: 0;
            appearance: none;
            cursor: pointer;

            &:hover {
                background-color: $box-quantity-button-hover-background-color;
            }

            @include breakpoint-up(lg) {
                width: $box-quantity-button-size-lg;
                height: $box-quantity-button-size-lg;
            }

            .ven-icon {
                font-size: $box-quantity-icon-size;

                @include breakpoint-up(lg) {
                    font-size: $box-quantity-icon-size-lg;
                }
            }
        }
    }

    &__input {
        flex: 1;
        margin: 0 10px;

        input {
            font-family: $font-family-secondary;
            font-size: $box-quantity-input-font-size;
            font-weight: $box-quantity-input-font-weight;
            display: block;
            width: 100%;
            background-color: transparent;
            border: none;
            border-radius: 0;
            appearance: none;
            text-align: center;
            color: $body-color;
            -moz-appearance: textfield;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
}

.ven-data-quantity {
    font-size: 14px;
}

// cart page
.ven-cart {
    padding: $ec-page-padding-y 0;

    @include breakpoint-up(lg) {
        padding: $ec-page-padding-y-lg 0;
    }

    &__header {
        margin-bottom: 10px;
        text-align: center;

        @include breakpoint-up(lg) {
            margin-bottom: 35px;
        }
    }

    &__title {
        @extend %ec-heading-primary;
    }
}

.ven-cart-box {
    font-size: 14px;

    .includes_tax {
        display: block;
    }
}

// cart list products
.ven-cart-box-products {
    margin-bottom: 25px;

    &__item {
        padding: 25px 0;

        .ven-cart & {
            transition: background-color 0.2s ease;

            &:hover {
                background-color: $gray-100;
            }
        }

        &:hover {
            @include breakpoint-up(lg) {
                .ven-cart-box-products__remove {
                    display: block;
                }
            }
        }
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
    }

    &__image {
        width: 100px;
        margin-right: 15px;

        @include breakpoint-up(lg) {
            margin-right: 30px;
        }

        figure {
            @extend .ven-img-drop;
            @include img-drop(1, 1);
            margin-bottom: 0;
            background-color: white;
            border: thin solid $gray-200;

            img {
                object-fit: contain;
            }
        }
    }

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
    }

    &__footer {
        margin-top: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__information {
        flex: 1;
        overflow: hidden;
        margin-right: 20px;
        margin-bottom: 8px;
    }

    &__name {
        font-size: 18px;
        margin-bottom: 5px;

        a {
            &:hover {
                text-decoration: none;
            }
        }
    }

    &__description {
        margin-bottom: 0;
    }

    &__quantity {
        margin-top: auto;

        .ven-box-quantity {
            width: 120px;
        }
    }

    &__price {
        font-size: 16px;
        font-weight: 500;
        line-height: (19/16);
        letter-spacing: 0.025em;
    }

    &__remove {
        @include breakpoint-up(lg) {
            display: none;
        }

        .ven-cart-box-product-remove {
            vertical-align: middle;
        }
    }
}

// cart coupon
.ven-cart-box-coupon {
    margin-bottom: 35px;

    &__inner {
        display: flex;
    }

    &__input {
        flex: 1;
        overflow: hidden;

        input {
            display: block;
            width: 100%;
            height: 56px;
            border: none;
            appearance: none;
            background-color: $gray-100;
            font-family: inherit;
            font-size: 16px;
            padding: 0 20px;

            &::placeholder {
                color: $gray-400;
            }
        }
    }

    &__button {
        margin-left: 10px;

        button {
            @extend .ec-btn;
            @extend .ec-btn-primary;
            height: 100%;
        }
    }
}

// cart summary
.ven-cart-box-summary {
    margin-bottom: 45px;

    &__item {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__title {
        width: 50%;
		
		p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__content {
        width: 50%;
        text-align: right;
        font-size: 16px;
    }
}

// cart total
.ven-cart-box-total {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        border-top: thin solid $gray-200;
        padding-top: 34px;
    }

    &__title {
        width: 50%;
    }

    &__content {
        width: 50%;
        font-size: 22px;
        text-align: right;

        strong {
            font-weight: inherit;
        }
    }
}

// cart recurring
.ven-cart-recurring {
    .shipping {
        display: none;
    }

    table {
        width: 100%;
        margin-top: 40px;

        td {
            text-align: right;
            font-size: 14px;
        }
    }

    .recurring-totals {
        th {
            font-size: 16px;
            font-weight: normal;
            padding-bottom: 20px;
        }
    }

    .recurring-total {
        th,
        td {
            font-weight: normal;
            padding-top: 0;
            padding-bottom: 16px;
            vertical-align: top;
        }
    }
}

// cart buttons
.ven-cart-buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 80px -5px 0;

    @include breakpoint-up(lg) {
        justify-content: center;
    }

    &__item {
        padding: 0 5px;
    }

    .ec-btn {
        padding-top: 13px;
        padding-bottom: 13px;

        @include breakpoint-up(lg) {
            min-width: 222px;
        }
    }
}
