extends ../../../_core/layouts/layouts-default

append vars
    -bodyClass = "woocommerce-page woocommerce-cart"

block container
    .woocommerce
        section.ven-cart
            .ven-cart__header
                .ec-container
                    h2.ven-cart__title Cart
                    ol.ec-breadcrumb
                        li
                            a(href="#") Home
                        li
                            span Cart
            .ven-cart__body
                .ven-cart-box
                    +cart-product-list(true)
                    +cart-coupon
                    +cart-summary
                    +cart-total
                    +cart-recurring
            .ven-cart__footer
                .ec-container
                    .ven-cart-buttons
                        .ven-cart-buttons__item
                            a.ec-btn.ec-btn-secondary(href="#") Continue shopping
                        .ven-cart-buttons__item
                            a.ec-btn.ec-btn-primary(href="#") Check out